{% extends "::baseAffichage.html.twig" %}

{% set nbAttribut = 0 %}
{% set nbLigneProduit = 0 %}

{% block stylesheets %}
{# <link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/ajoutattribut.css') }}"/>#}
{% endblock %}

{% block ajout %}
<form action="{{ path('imerir_produit_save_attributs') }}" method="post">
	<div id="divNom">
		<label for="nom">Nom : </label>
		{% if detail_attribut.nom is defined %} 
		<input type="text" name="nom" value="{{ detail_attribut.nom }}"/>
		{% else %}
		<input type="text" name="nom"/>
		{% endif %}
		{% if detail_attribut.id is defined %}
		<input type="hidden" name="id" value="{{ detail_attribut.id }}">
		{% endif %}
		<input type="submit">
	</div>
	<div id="lst_attribut">
		<p class="titre_lst">Liste des valeurs possibles</p>
		{% if detail_attribut.attribut is defined %}
			{% for i in detail_attribut.attribut %}
				<p>
					<input type="text" name="attribut{{ nbAttribut }}" value="{{ i.valeurAttr }}"/>
					<i class="fa fa-minus-square supprimer"></i>
				</p>
				{% set nbAttribut = nbAttribut + 1 %}
			{% endfor %}
		{% endif %}
		<p class="last">
			<input type="text" name="attribut{{ nbAttribut }}"/>
			<i class="fa fa-plus-square ajout ajouterBtn"></i>
		</p>
	</div>
	<div id="lst_ligne_produit">
		<p class="titre_lst">Lignes de produits concernées</p>
		{% set lastProduitSelected = 0 %}
		{% if detail_attribut.ligneProduit is defined %}
			{% for i in detail_attribut.ligneProduit %}
				<p class="{% if loop.last %}last{% endif %}">
					<select name="lg_produit{{ nbLigneProduit }}">
						{% for j in ligne_produit %}
							{% if j.nom == i.nomLigneProduit %}
								{% if nbLigneProduit > lastProduitSelected %}
									<option selected>{{ j.nom }}</option>
									{% set lastProduitSelected = nbLigneProduit %}
								{% else %}
									<option>{{ j.nom }}</option>
								{% endif %}
							{% else %}
								<option>{{ j.nom }}</option>
							{% endif %}
						{% endfor %}
						{% set nbLigneProduit = nbLigneProduit + 1 %}
					</select>
					{% if loop.last %}
						{# Le dernier c'est un boutton ajouter et pas supprimer qu'il faut mettre #}
						<i class="fa fa-plus-square ajout ajouterBtn"></i>
					{% else %}
						<i class="fa fa-minus-square supprimer"></i>
					{% endif %}
				</p>
			{% endfor %}
		{% else %}
			<p class="last">
				<select name="lg_produit1">
				{% for j in ligne_produit %}
					<option>{{ j.nom }}</option>
				{% endfor %}
				</select>
				<i class="fa fa-plus-square ajout ajouterBtn"></i>
			</p>
		{% endif %}
	</div>
</form>
{% endblock %}

{% block recherche %}
<form action="{{ path('imerir_produit_modif_attributs') }}" method="post">
	<label for="rechNom">Nom :</label><input type="text" name="rechNom">
	<input type="submit">
</form>
{% endblock %}

{% block table %}
	<tr><th>Nom</th></tr>
{% for i in lst_attribut %}
	<tr>
		<td>
			<form method="post" action="{{ path('imerir_produit_modif_attributs') }}" style="display: none">
				<input type="hidden" name="id" value="{{ i.id }}">
			</form>
			{{ i.nom }}
		</td>
	</tr>
{% endfor %}
{% endblock %}

{% block javascripts %}
<script>
	var numAttribut = 200;
	var numLigne = 200;
	var selectCourant = 0;

	$('tr').click(function () {
		$(this).children('td').children('form').submit();
	});
	
	/**
	 * Fonction permettant de réagir lors du click sur ajouter un élément.
	 * Cette fonction vérfie si un valeur est précisé, et si oui, ajoute
	 * un élément.
	 */
	 $("#lst_attribut").children('p').children('.ajouterBtn').click(
		function ajoutItem() {
			var last = $("#lst_attribut").children('.last').last();
			var input = $(last).children('input');
			if ($(input).val() === "") {
				input.select();
			}
			else {
				$("#lst_attribut").append('<p class="last"><input type="text" name="attribut'+numAttribut+'"/><i class="fa fa-plus-square ajout ajouterBtn"></i></p>');

				last.children("i").toggleClass("ajout");
				last.children("i").toggleClass("supprimer");
				last.children("i").toggleClass("fa-plus-square");
				last.children("i").toggleClass("fa-minus-square");
				last.children("i").toggleClass("ajouterBtn");
				last.toggleClass("last");

				$(this).unbind('click');
				$("#lst_attribut").children('p').children('.ajouterBtn').click(ajoutItem);
				$("#lst_attribut").children('p').children('.supprimer').click(supprimerItem);

				numAttribut++;
			}
		}
	);

	
	 $("#lst_attribut").children('p').children('.supprimer').click(supprimerItem); // On bind le click sur le boutton moins avec la fonction de suppression de ligne
	 
	 /**
	  * Cette fonction permet de supprimer une valeur d'attribut.
	  * Elle est appelée lorsque l'on clic sur le boutton moins.
	  */
	 function supprimerItem() {
	 	 $(this).parent().remove();
	 }

	 /**
	 * Fonction permettant de réagir lors du click sur ajouter un élément.
	 * Cette fonction vérfie si un valeur est précisé, et si oui, ajoute
	 * un élément.
	 */
	 $("#lst_ligne_produit").children('p').children('.ajouterBtn').click(
		function ajoutLigne() {
			var last = $("#lst_ligne_produit").children('.last').last();

			clone = last.clone().appendTo("#lst_ligne_produit");
			clone.children('select').attr("name", "lg_produit"+numLigne);
			
			last.children("i").toggleClass("ajout");
			last.children("i").toggleClass("supprimer");
			last.children("i").toggleClass("fa-plus-square");
			last.children("i").toggleClass("fa-minus-square");
			last.children("i").toggleClass("ajouterBtn");
			last.toggleClass("last");

			numLigne++;

			$(this).unbind('click');
			$("#lst_ligne_produit").children('p').children('.ajouterBtn').click(ajoutLigne);
			$("#lst_ligne_produit").children('p').children('.supprimer').click(supprimerItem);
		}
	);

	 $("#lst_ligne_produit").children('p').children('.supprimer').click(supprimerItem);
</script>
{% endblock %}

