{% extends "::baseAffichage.html.twig" %}

{% block stylesheets %}
{#     <link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/ajoutLigneProduit.css') }}"/>#}
{% endblock %}
{% block title_page %}
    Lignes de produits
{% endblock %}
{% block title_ajout %}
    {% if app.request.attributes.get('_route')=='imerir_produit_modification_ligne_produit' %}
        Modifier une ligne produit
    {% else %}
        Ajouter une ligne produit
    {% endif %}
{% endblock %}

{% block produitBlock %}
menuSelected
{% endblock %}

{% block aide %}
Ici, vous pouvez ajouter ou modifier une ligne de produit. Une ligne de produit contient plusieurs produits.
<br><em>Exemple : </em>Une ligne de produit peut, par exemple, être "T-Shirt" ou "Jeux vidéo".
{% endblock %}

{% block ajout %}
    {% if app.request.attributes.get('_route')=='imerir_produit_creation_ligne_produit' %}
        <form action="{{ path('imerir_produit_validation_creation_ligne_produit') }}" method="post" id="formulaire_creation_ligne_produit">
            <div id="divNom">
                <label for="nom">Nom de la ligne produit : </label>
                <input type="text" name="nom"/>
            </div>
            <button type="submit" class="bouton">
                <i class="fa fa-check"></i>Valider la saisie
            </button>
        </form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_produit_validation_creation_ligne_produit' %}
        <form action="{{ path('imerir_produit_validation_creation_ligne_produit') }}" method="post" id="formulaire_creation_ligne_produit">
            <div id="divNom">
                <label for="nom">Nom de la ligne produit : </label>
                <input type="text" name="nom"/>
            </div>
            <button type="submit" class="bouton">
                <i class="fa fa-check"></i>Valider la saisie
            </button>
        </form>
        <p class="validation_message">La ligne produit "{{ nom_lp_add }}" a bien été ajoutée</p>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_produit_modification_ligne_produit' %}

        <form action="{{ path('imerir_produit_validation_modification_ligne_produit') }}" method="post" id="formulaire_creation_ligne_produit">
            <div id="divNom">
                <label for="nom">Nom de la ligne produit : </label>
                <input type="hidden" name="id_lp" value="{{ lp_id_val }}">
                <input type="hidden" name="old_nom" value="{{ lp_nom_val }}">
                <input type="text" name="nom" value="{{ lp_nom_val }}"/>
            </div>
            <button type="submit" class="bouton">
                <i class="fa fa-check"></i>Modifier
            </button>
        </form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_produit_validation_modification_ligne_produit' %}
        <form action="{{ path('imerir_produit_validation_creation_ligne_produit') }}" method="post" id="formulaire_creation_ligne_produit">
            <div id="divNom">
                <label for="nom">Nom de la ligne produit : </label>
                <input type="text" name="nom"/>
            </div>
            <button type="submit" class="bouton">
                <i class="fa fa-check"></i>Valider la saisie
            </button>
        </form>
        <p class="validation_message">La ligne produit "{{ old_nom_lp }}" a bien été modifiée en "{{ nom_lp_add }}"</p>
    {% endif %}

{% endblock %}

{% block recherche %}
    <form action="{{ path('imerir_produit_creation_ligne_produit') }}" method="post">
        <label for="recherche_lp">Nom : </label><input type="text" name="recherche_lp">
        <label for="recherche_attribut">Attribut : </label><input type="text" name="recherche_attribut">
        <button type="submit" class="bouton">
            <i class="fa fa-search"></i>Rechercher
        </button>
    </form>
{% endblock %}

{% block table %}
    <tr class="liste_ligne_produit"><th>Nom ligne produit</th><th>Attributs</th></tr>
    {% for i in liste_ligne_produit %}

        <tr><td>{{ i.nom }}
                <form method="post" action="{{ path('imerir_produit_modification_ligne_produit') }}" style="display: none">
                    <input type="hidden" name="id_lp" value="{{ i.id }}">
                    <input type="hidden" name="nom_lp" value="{{ i.nom }}">
                </form>
            </td>
            <td>{{ i.attribut_nom }}</td></tr>
    {% endfor %}
{% endblock %}


{% block javascripts %}
<script>
    $('tr').click(function () {
        $(this).children('td').children('form').submit();
    });
</script>
{% endblock %}
