{% extends "::baseAffichage.html.twig" %}

{% block stylesheets %}
{#     <link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/ajoutLigneProduit.css') }}"/>#}
{% endblock %}
{% block title_page %}
    Lignes de produits
{% endblock %}
{% block title_ajout %}
    {% if app.request.attributes.get('_route')=='imerir_produit_modification_ligne_produit' %}
        Modifier une ligne produit
    {% else %}
        Ajouter une ligne produit
    {% endif %}
{% endblock %}

{% block title %}
ALBA - Lignes produits
{% endblock %}

{% block produitBlock %}
menuSelected
{% endblock %}

{% block aide %}
Ici, vous pouvez ajouter ou modifier une ligne de produit.<br>
Une ligne de produit contient plusieurs produits.
<br><em>Exemple : </em>Une ligne de produit peut, par exemple, être "T-Shirt" ou "Jeux vidéo".
<br><br>
<b>Ajout : </b><br>
Saisissez simplement le nom que vous souhaitez donner à votre ligne produit. Il s'agit simplement d'un libélée qui est
modifiable plus tard si besoin est.<br><br>
<b>Modification</b><br>
Dans le tableau du menu "Recherche" retrouver la ligne produit que vous souhaitez modifier. Une fois 
la ligne produit trouvée, cliquez sur la ligne du tableau pour le modifier. Une fois la modification 
effectuer, cliquez sur le bouton "Modifier".

{% endblock %}

{% block ajout %}
    {% if (app.request.attributes.get('_route')=='imerir_produit_creation_ligne_produit' or 
    app.request.attributes.get('_route')=='imerir_produit_suppression_ligne_produit') %}
        <form action="{{ path('imerir_produit_validation_creation_ligne_produit') }}" method="post" id="formulaire_creation_ligne_produit">
            <table class="tableau_input">
            <tr>
            	<td><label for="nom">Nom : </label></td>
	            <td><input type="text" name="nom"/></td>
            </tr>
            <tr>
	            <td></td>
	            <td><button type="submit" class="bouton">
	                <i class="fa fa-check"></i>Valider la saisie
	            </button></td>
	            <td><a class="bouton" href="{{ path('imerir_produit_creation_ligne_produit') }}"><i class="fa fa-reply"></i>Annuler</a></td>
            </tr>
            </table>
            
        </form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_produit_validation_creation_ligne_produit' %}
        <form action="{{ path('imerir_produit_validation_creation_ligne_produit') }}" method="post" id="formulaire_creation_ligne_produit">
            <table class="tableau_input">
            <tr>
            	<td><label for="nom">Nom : </label></td>
	            <td><input type="text" name="nom"/></td>
            </tr>
            <tr>
	            <td></td>
	            <td><button type="submit" class="bouton">
	                <i class="fa fa-check"></i>Valider la saisie
	            </button></td>
	            <td><a class="bouton" href="{{ path('imerir_produit_creation_ligne_produit') }}"><i class="fa fa-reply"></i>Annuler</a></td>
            </tr>
            </table>
            
        </form>
        {% if erreur == '' %}
        	<p class="validation_message">La ligne produit "{{ nom_lp_add }}" a bien été ajoutée</p>
        {% endif %}	
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_produit_modification_ligne_produit' %}

        <form action="{{ path('imerir_produit_validation_modification_ligne_produit') }}" method="post" id="formulaire_creation_ligne_produit">
            <table>
            	<tr>
            	<td>
	                <label for="nom">Nom : </label>
	                <input type="hidden" name="id_lp" value="{{ lp_id_val }}">
	                <input type="hidden" name="old_nom" value="{{ lp_nom_val }}">
	            </td>    
	            <td>    
	                <input type="text" name="nom" value="{{ lp_nom_val }}"/>
            	</td>
            	</tr>
            	<tr>
            		<td></td>
	            	<td><button type="submit" class="bouton" style="width:130px">
	                <i class="fa fa-edit"></i>Modifier
	            	</button></td>
	            	<td><a class="bouton" href="{{ path('imerir_produit_creation_ligne_produit') }}"><i class="fa fa-reply"></i>Annuler</a></td>
	            	<td><button class="bouton" type="button" id="btnSupprimer">
							<i class="fa fa-trash-o"></i> Supprimer
						</button></td>
	           </tr> 	
            </table>
        </form>
        <form action="{{ path('imerir_produit_suppression_ligne_produit') }}" method="post" id="formSupprimer">
            	<input type="hidden" name="id_lp" value="{{ lp_id_val }}">
       	</form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_produit_validation_modification_ligne_produit' %}
        <form action="{{ path('imerir_produit_validation_creation_ligne_produit') }}" method="post" id="formulaire_creation_ligne_produit">
            <table class="tableau_input">
            <tr>
            	<td><label for="nom">Nom : </label></td>
	            <td><input type="text" name="nom"/></td>
            </tr>
            <tr>
	            <td></td>
	            <td><button type="submit" class="bouton">
	                <i class="fa fa-check"></i>Valider la saisie
	            </button></td>
            </tr>
            </table>
            
        </form>
        {% if erreur == '' %}
            <p class="validation_message">La ligne produit "{{ old_nom_lp }}" a bien été modifiée en "{{ nom_lp_add }}"</p>
        {% endif %}

    {% endif %}

{% endblock %}

{% block recherche %}
    <form action="{{ path('imerir_produit_creation_ligne_produit') }}" method="get">
    	<table>
        	<tr>
        		<td><label for="recherche_lp">Nom : </label></td>
        		<td><input type="text" name="recherche_lp"></td>
        	</tr>
        	<tr>
        		<td><label for="recherche_attribut">Attribut : </label></td>
        		<td><input type="text" name="recherche_attribut"></td>
        	</tr>
        	<tr>
        		<td></td>
        		<td>
        			<button type="submit" class="bouton">
            			<i class="fa fa-search"></i>Rechercher
            		</button>
            	</td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block table %}
    <tr class="liste_ligne_produit"><th>Ligne produit</th><th>Attributs</th></tr>
    {% for i in liste_ligne_produit %}
		{% if ( numLigne >= (page-1)*ligneParPage ) and ( numLigne < (page-1)*ligneParPage+ligneParPage ) %}
        	<tr>
        		<td>{{ i.nom | capitalize }}
                	<form method="post" action="{{ path('imerir_produit_modification_ligne_produit') }}" style="display: none">
                    	<input type="hidden" name="id_lp" value="{{ i.id }}">
                    	<input type="hidden" name="nom_lp" value="{{ i.nom }}">
                	</form>
            	</td>
            	<td>{{ i.attribut_nom | capitalize }}</td>
            </tr>
        {% endif %}
        {% set numLigne = numLigne + 1 %}
    {% endfor %}
{% endblock %}

{% block numero_page %}
	{% if liste_ligne_produit|length > ligneParPage %}
		{% for i in 0..liste_ligne_produit|length/ligneParPage %}
			{% if i == page-1 %}
				<a class="num_page selected_page" href="{{ path('imerir_produit_creation_ligne_produit', app.request.query.all|merge({'page': i+1})) }}">{{ i+1 }}</a>
			{% else %} 
				<a class="num_page" href="{{ path('imerir_produit_creation_ligne_produit', app.request.query.all|merge({'page': i+1})) }}">{{ i+1 }}</a>
			{% endif %}
		{% endfor %}  
	{% endif %}
{% endblock %}

{% block javascripts %}
<script>
	$("#btnSupprimer").click(function () {
		$("#formSupprimer").submit();
	});

	
    $('tr').click(function () {
        $(this).children('td').children('form').submit();
    });
</script>
{% endblock %}
