{% extends "::baseAffichage.html.twig" %}

{% set nbAttribut = 0 %}
{% set nbLigneProduit = 0 %}

{% block title_page %}Attributs{% endblock %}

{% block title %}ALBA - Attributs{% endblock %}

{% block produitBlock %}menuSelected{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/ajoutattribut.css') }}">
{% endblock %}

{% block title_ajout %}
	{% if modification == true %}
		Modifier un attribut
	{% else %}
		Ajouter un attribut
	{% endif %}
{% endblock %}

{% block aide %}
Les attributs correspondent aux caractèristiques de votre produit. Cela peut, aussi bien, être la taille de votre article
que la marque de celui-ci, ou sa couleur.
<h3>Ajouter un attribut</h3>
<p>
	Veuillez saisir le nom de l'attribut, ainsi que les valeurs possibles pour cet attribut.
	<br><em>Exemple : </em>
	<ul>
		<li>Nom de la caractéristique : Taille vêtemment</li>
	 	<li>Valeurs possibles : S, M, L, XL</li> 
	 	<li>Lignes produits concernées : T-Shirt, Pull</li>
	</ul>
</p>
<h3>Rechercher un attribut</h3>
<p>La recherche se fait sur le nom des attributs ainsi que sur leurs valeurs.</p>  
{% endblock %}

{% block ajout %}
<form action="{{ path('imerir_produit_save_attributs') }}" method="post">
	<div id="divNom">
		<label for="nom">Nom : </label>
		{% if detail_attribut.nom is defined %} 
		<input type="text" name="nom" value="{{ detail_attribut.nom }}"/>
		{% else %}
		<input type="text" name="nom" placeholder="'Couleur', 'Marque', 'Taille', 'Parfum', etc."/>
		{% endif %}
		{% if detail_attribut.id is defined %}
		<input type="hidden" name="id" value="{{ detail_attribut.id }}">
		{% endif %}
	</div>
	<div id="lst_attribut">
		<table class="tableau_attribut tableau">
			<tr>
				<th></th>
				<th class="titre_lst">Liste des valeurs possibles</th>
			</tr>
			{% if detail_attribut.attribut is defined %}
				{% for i in detail_attribut.attribut %}
					<tr>
						<td>
							<i class="fa fa-minus-square supprimer"></i>
						</td>
						<td>
							<input type="text" name="attribut{{ nbAttribut }}" value="{{ i.valeurAttr }}"/>
						</td>
					</tr>
					{% set nbAttribut = nbAttribut + 1 %}
				{% endfor %}
			{% endif %}
			<tr class="last">
				<td>
					<i class="fa fa-plus-square ajout ajouter"></i>
				</td>
				<td>
					<input type="text" name="attribut{{ nbAttribut }}"/>
				</td>
			</tr>
		</table>
	</div>
	<div id="lst_ligne_produit">
		<table class="tableau_attribut tableau">
			<tr>
				<th></th>
				<th class="titre_lst">Lignes de produits concernées</th>
			</tr>
			{% set lastProduitSelected = 0 %}
			{% if detail_attribut.ligneProduit is defined %}
				{% for i in detail_attribut.ligneProduit %}
					<tr>
						<td>
							{% if loop.last %}
								{# Le dernier c'est un boutton ajouter et pas supprimer qu'il faut mettre #}
								<i class="fa fa-plus-square ajout ajouter"></i>
							{% else %}
								<i class="fa fa-minus-square supprimer"></i>
							{% endif %}
						</td>
						<td class="{% if loop.last %}last{% endif %}">
							<select name="lg_produit{{ nbLigneProduit }}">
								{% set nbLigneProduit = nbLigneProduit + 1 %}
								{% for j in ligne_produit %}
									{% if j.nom == i.nomLigneProduit %}
										{% if nbLigneProduit > lastProduitSelected %}
											<option selected>{{ j.nom }}</option>
											{% set lastProduitSelected = nbLigneProduit %}
										{% else %}
											<option>{{ j.nom }}</option>
										{% endif %}
									{% else %}
										<option>{{ j.nom }}</option>
									{% endif %}
								{% endfor %}
							</select>
						</td>
					</tr>
				{% endfor %}
			{% else %}
				<tr class="last">
					<td><i class="fa fa-plus-square ajout ajouter"></i></td>
					<td>
						<select name="lg_produit1">
						{% for j in ligne_produit %}
							<option>{{ j.nom }}</option>
						{% endfor %}
						</select>
					</td>
				</tr>
			{% endif %}
		</table>
	</div>
	<br>
	
	<button type="submit" class="bouton">
		<i class="fa fa-check"></i>Valider la saisie
	</button>
	
	{% if modification == true %}
		<button class="bouton" type="button" id="btnSupprimer">
			<i class="fa fa-trash-o"></i> Supprimer
		</button>
		<a href="{{ path('imerir_produit_modif_attributs') }}" class="bouton">
			<i class="fa fa-reply"></i>Annuler
		</a>
	{% endif %}
</form>
	{% if modification == true %}
	<form method="post" action="{{ path('imerir_produit_supprimer_attributs') }}" id="formSupprimer">
		<input type="hidden" name="id" value="{{ detail_attribut.id }}">
	</form>
	{% endif %}
{% endblock %}

{% block recherche %}
<form action="{{ path('imerir_produit_modif_attributs') }}" method="get">
	<label for="rechNom">Attribut ou valeur possible : </label>
	<input type="text" name="rechNom" placeholder="'Simone perele', 'Marque', 'Rouge', etc."><br>
	<button type="submit" class="bouton">
		<i class="fa fa-search"></i>Rechercher
	</button>
</form>
{% endblock %}

{% block table %}
	<tr>
		<th>Nom</th>
		<th>Valeurs possibles</th>
		<th>Lignes produits</th>
	</tr>
	{% for i in lst_attribut %}
		{% if ( numLigne >= (page-1)*ligneParPage ) and ( numLigne < (page-1)*ligneParPage+ligneParPage ) %}
			<tr>
				<td>
					<form method="post" action="{{ path('imerir_produit_modif_attributs') }}" style="display: none">
						<input type="hidden" name="id" value="{{ i.id }}">
					</form>
					{{ i.nom }}
				</td>
				<td>
					{% for j in i.attributs %}
						{% if not loop.last %}
							{{ j }},
						{% else %}
							{{ j }}
						{% endif %}
					{% endfor %}
				</td>
				<td>
					{{ i.ligne_produit }}
				</td>
			</tr>
		{% endif %}
		{% set numLigne = numLigne + 1 %}
	{% endfor %}
	
{% endblock %}

{% block numero_page %}
	{% if lst_attribut|length > ligneParPage %}
		{% for i in 0..lst_attribut|length/ligneParPage %}
			{% if i == page-1 %}
				<a class="num_page selected_page" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i+1})) }}">{{ i+1 }}</a>
			{% else %} 
				<a class="num_page" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i+1})) }}">{{ i+1 }}</a>
			{% endif %}
		{% endfor %}  
	{% endif %}
{% endblock %}

{% block javascripts %}
<script>
	var numAttribut = 200;
	var numLigne = 200;
	var selectCourant = 0;

	$("#btnSupprimer").click(function () {
		$("#formSupprimer").submit();
	});
	
	$('tr').click(function () {
		$(this).children('td').children('form').submit();
	});
	
	/**
	 * Fonction permettant de réagir lors du click sur ajouter un élément.
	 * Cette fonction vérfie si un valeur est précisé, et si oui, ajoute
	 * un élément.
	 */
	 $("#lst_attribut").find('.ajouter').click(
		function ajoutItem() {
			var last = $("#lst_attribut").find('tr').last();
			var input = $(last).find('input');
			if ($(input).val() === "") {
				input.select();
			}
			else {
				$("#lst_attribut").children("table").append('<tr><td><i class="fa fa-plus-square ajout ajouter"></i></td><td><input type="text" name="attribut'+numAttribut+'"/></td></tr>');

				last.find("i").toggleClass("ajout");
				last.find("i").toggleClass("supprimer");
				last.find("i").toggleClass("fa-plus-square");
				last.find("i").toggleClass("fa-minus-square");
				last.find("i").toggleClass("ajouter");
				last.toggleClass("last");

				$(this).unbind('click');
				$("#lst_attribut").find('.ajouter').click(ajoutItem);
				$("#lst_attribut").find('.supprimer').click(supprimerItem);

				numAttribut++;
			}
		}
	);

	
	 $('.supprimer').click(supprimerItem); // On bind le click sur le boutton moins avec la fonction de suppression de ligne
	 
	 /**
	  * Cette fonction permet de supprimer une valeur d'attribut.
	  * Elle est appelée lorsque l'on clic sur le boutton moins.
	  */
	 function supprimerItem() {
	 	 $(this).parent().parent().remove();
	 }

	 /**
	 * Fonction permettant de réagir lors du click sur ajouter un élément.
	 * Cette fonction vérfie si un valeur est précisé, et si oui, ajoute
	 * un élément.
	 */
	 $("#lst_ligne_produit").find('.ajouter').click(
		function ajoutLigne() {
			var last = $("#lst_ligne_produit").find('tr').last();
			var tableau = $("#lst_ligne_produit").children("table");
			
			clone = last.clone().appendTo(tableau);
			clone.find('select').attr("name", "lg_produit"+numLigne);
			
			last.find("i").toggleClass("ajout");
			last.find("i").toggleClass("supprimer");
			last.find("i").toggleClass("fa-plus-square");
			last.find("i").toggleClass("fa-minus-square");
			last.find("i").toggleClass("ajouter");
			last.toggleClass("last");

			numLigne++;

			$(this).unbind('click');
			$("#lst_ligne_produit").find('.ajouter').click(ajoutLigne);
			$("#lst_ligne_produit").find('.supprimer').click(supprimerItem);
		}
	);

	 $("#lst_ligne_produit").children('p').children('.supprimer').click(supprimerItem);
</script>
{% endblock %}

