{% extends "::baseAffichage.html.twig" %}

{% block title_page %}
Générateur de code barre
{% endblock %}

{% block title %}
ALBA - Générateur de code barre
{% endblock %}

{% block produitBlock %}
menuSelected
{% endblock %}

{% block title_ajout %}
Génération d'une feuille de codes barres
{% endblock %}

{% block aide %}
Cette page vous permet de générer des nouveaux codes barres (pour des nouveaux articles qui n'en aurait pas par exemple), ou, de 
réimprimmer un code barre avec un code défini (pour des articles auxquels il manque quelques étiquettes).
<br>Le nombre d'étiquettes par ligne et par colonne correspond au nombre d'étiquettes sur votre feuille d'impression
de code barre.
<br><br>Une fois la feuille de code barre générée, vous pouvez l'imprimer en cliquant sur le bouton en bas de page.
<br><br><b>Le champ "Nombre de codes barres à générer" ne fonctionne pas, c'est un bug connu.</b>
{% endblock %}

{% block stylesheets %}
<style>
@font-face {
	font-family: "codebar";
	src: url("{{ asset('bundles/imerirproduit/fonts/c39hrp48dhtt.ttf') }}");
}
</style>
<link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/cssCodeBarre.css') }}"/> 
{% endblock %}

{% block ajout %}
<div id="critere_code_barre">
	<form action="{{ path('imerir_produit_code_barre') }}" method="POST" class="tableau_code_barre">
		<table class="tableau_input tableau_code_barre">
			<tr>
				<td><h3>Générer un nouveau code barre :</h3></td>
				<td></td>
			</tr>
			<tr>
				<td><label for="nb_etiquette_X">Nombre d'étiquettes par ligne : </label></td>
				<td><input type="number" name="nb_etiquette_X" value="{{ nbX }}"></td>
			</tr>
			<tr>
				<td><label for="nb_etiquette_Y">Nombre d'étiquettes par colonne : </label></td>
				<td><input type="number" name="nb_etiquette_Y" value="{{ nbY }}"></td>
			</tr>
			<tr>
				<td>
					<button class="bouton" type="submit">
						<i class="fa fa-file-text"></i>Générer la feuille de code barre
					</button>
				</td>
				<td></td>
			</tr>
		</table>
	</form>
	<span class="ou">OU</span>
	
	<form action="{{ path('imerir_produit_code_barre') }}" method="POST" class="tableau_code_barre">
		<table class="tableau_input tableau_code_barre">
			<tr>
				<td><h3>Générer un code barre à partir de son numéro : </h3></td>
				<td></td>
			</tr>
			<tr>
				<td><label for="num_code_barre">Numéro à générer : </label></td>
				<td><input type="text" name="num_code_barre" ></td>
			</tr>
			<tr>
				<td><label for="nb_etiquette_X">Nombre d'étiquette par ligne : </label></td>
				<td><input type="number" name="nb_etiquette_X" value="{{ nbX }}"></td>
			</tr>
			<tr>
				<td><label for="nb_etiquette_Y">Nombre d'étiquette par colonne : </label></td>
				<td><input type="number" name="nb_etiquette_Y" value="{{ nbY }}"></td>
			</tr>
			<tr>
				<td>
					<button class="bouton" type="submit">
						<i class="fa fa-file-text"></i>Générer la feuille de code barre
					</button>
				</td>
				<td></td>
			</tr>
		</table>
	</form> 
</div>
<div id="divCodeBarre">
	<h3>Aperçu avant impression :</h3> 
	<p>
		Vérifiez que les codes barres sont correctement générés avec les paramètres que vous avez choisi.<br>
		Pour imprimer cliquez sur le bouton en dessous de l'aperçu.
	</p>
	<table class="code_barre">
		{% set i = 0 %}
		{% for y in 1..nbY %}
		<tr>
			{% for x in 1..nbX %}
			<td>*{{ code_barre[i] }}*</td>
			{% set i = i+1 %}
			{% endfor %}
		</tr>
		{% endfor %}
	</table>
	<a href="#" onclick="window.print()" class="bouton"><i class="fa fa-print"></i>Imprimer les codes barres</a>
</div>
{% endblock %}

{% block recherche %}
{% endblock %}

{% block table %}
	<tr><th>Nom</th><th>Valeurs possibles</th></tr>
{% endblock %}

{% block javascripts %}
<script>

/**
 * Quand la page est chargée on enlève le fieldset de recherche qui ne sert à rien.
 */
$(document).ready(function (e) {
	$('#fieldset_recherche').remove();
});


</script>
{% endblock %}

