{% extends "::baseAffichage.html.twig" %}

{% block stylesheets %}
{#     <link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/ajoutLigneProduit.css') }}"/>#}
{% endblock %}
{% block title_page %}
    Produits
{% endblock %}

{% block title_ajout %}
    {% if app.request.attributes.get('_route')=='imerir_produit_modification_produit' %}
        Modifier un produit
    {% else %}
        Ajouter un produit
    {% endif %}
{% endblock %}

{% block produitBlock %}
menuSelected
{% endblock %}

{% block aide %}
Ici, vous pouvez ajouter ou modifier un produit. Un produit peut contenir plusieurs articles.
<br>Vous devez saisir la référence du produit, ainsi que la ligne de produit auquel il appartient.
<br><b>La ligne de produit doit être créée avant de créer un produit.</b>
<br>
<br><em>Exemple 1 : </em>Un produit peut, par exemple être, "La ligne verte", pour la ligne de produit "DVD".
<br><em>Exemple 2 : </em>Un produit peut, par exemple être, "R22B", pour la ligne de produit "Ballon".
{% endblock %}

{% block ajout %}
    {% if app.request.attributes.get('_route')=='imerir_produit_creation_produit' %}
        <form action="{{ path('imerir_produit_validation_creation_produit') }}" method="post" id="formulaire_creation_produit">
             <table class="tableau_input">
                <tr>
                	<td><label for="nomProduit">Référence produit : </label></td>
                	<td><input type="text" name="nomProduit"/></td>
                </tr>
                <tr>
                	<td><label for="nomLigneProduit">Ligne produit : </label></td>
                    <td>
                    	<select name="nomLigneProduit">
                        {% for i in ligne_produit %}
                            <option>{{ i.nom }}</option>
                        {% endfor %}
                    	</select>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Ajouter">
        </form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_produit_validation_creation_produit' %}
        <form action="{{ path('imerir_produit_validation_creation_produit') }}" method="post" id="formulaire_creation_produit">
            <table class="tableau_input">
                <tr>
                	<td><label for="nomProduit">Référence produit : </label></td>
                	<td><input type="text" name="nomProduit"/></td>
                </tr>
                <tr>
                	<td><label for="nomLigneProduit">Ligne produit : </label></td>
                    <td>
                    	<select name="nomLigneProduit">
                        {% for i in ligne_produit %}
                            <option>{{ i.nom }}</option>
                        {% endfor %}
                    	</select>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Ajouter">
        </form>
        <p class="validation_message">Le produit "{{ produit_add }}" a bien été ajouté pour la ligne produit "{{ lp_produit_add }}"</p>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_produit_modification_produit' %}
        <form action="{{ path('imerir_produit_validation_modification_produit') }}" method="post" id="formulaire_creation_produit">
            <table class="tableau_input">
                <tr>
                	<td><label for="nomProduit">Référence produit : </label></td>
                	<td>
                		<input type="text" name="nom_modif_p" value="{{ nom_modif_p }}"/>
                		<input type="hidden" name="old_nom_modif_p" value="{{ nom_modif_p }}"/>
                		<input type="hidden" name="nom_modif_lp" value="{{ nom_modif_lp }}"/>
                		<input type="hidden" name="id_modif_p" value="{{ id_modif_p }}"/>
                	</td>
                </tr>
                <tr>
                	<td><label for="nomLigneProduit">Ligne produit : </label></td>
                    <td>
                    	<select name="nomLigneProduit">
                        {% for i in ligne_produit %}
                            {% if i.nom == nom_modif_lp %}
                                <option selected>{{ i.nom }}</option>
                            {% else %}
                                <option>{{ i.nom }}</option>
                            {% endif %}
                        {% endfor %}
                    	</select>
                    </td>
                </tr>
            </table>
            <input type="submit" value="Modifier">
        </form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_produit_validation_modification_produit' %}
    	<form action="{{ path('imerir_produit_validation_modification_produit') }}" method="post" id="formulaire_creation_produit">
	        <table class="tableau_input">
	            <tr>
	               	<td><label for="nomProduit">Référence produit : </label></td>
	                <td><input type="text" name="nomProduit"/></td>
	            </tr>
	            <tr>
	             	<td><label for="nomLigneProduit">Ligne produit : </label></td>
	                <td>
	                 	<select name="nomLigneProduit">
	                    {% for i in ligne_produit %}
	                        <option>{{ i.nom }}</option>
	                    {% endfor %}
	                   	</select>
	                </td>
	            </tr>
	        </table>
	        <input type="submit" value="Ajouter">
        </form>
        <p class="validation_message">Le produit "{{ old_p }}" a bien été modifié en produit "{{ new_p }}" pour la ligne produit "{{ new_lp }}"</p>
    {% endif %}

{% endblock %}


{% block recherche %}
    <form action="{{ path('imerir_produit_creation_produit') }}" method="post">
    	<label for="rechLp">Ligne produit : </label>
        <select name="rechLp">
            <option></option>
            {% for i in ligne_produit %}
                <option>{{ i.nom }}</option>
            {% endfor %}
        </select>
        <label for="rechAttribut">Attribut : </label>
        <input type="text" name="rechAttribut">
        <label for="rechProduit">Produit : </label><input type="text" name="rechProduit">
        <input type="submit">
    </form>
{% endblock %}



{% block table %}
    <tr class="produits"><th>Nom ligne produit</th><th>Nom produit</th></tr>
    {% for i in produits %}
        <tr><td>{{ i.lp }}</td>
            <td>{{ i.p }}
                <form method="post" action="{{ path('imerir_produit_modification_produit') }}" style="display: none">
                    <input type="hidden" name="nom_lp" value="{{ i.lp}}">
                    <input type="hidden" name="id_p" value="{{ i.p_id}}">
                    <input type="hidden" name="nom_p" value="{{ i.p }}">
                </form>
            </td></tr>
    {% endfor %}
{% endblock %}




{% block javascripts %}
    <script>
        $('tr').click(function () {
            $(this).children('td').children('form').submit();
        });
    </script>
{% endblock %}
