{% extends "::baseAffichage.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/ajoutLigneProduit.css') }}"/>
{% endblock %}

{% block title_page %}
    Fournisseurs
{% endblock %}

{% block title_ajout %}
    {% if app.request.attributes.get('_route')=='imerir_modification_fournisseur' %}
        MODIFICATION
    {% else %}
        AJOUT
    {% endif %}
{% endblock %}

{% block fournisseurBlock %}
menuSelected
{% endblock %}


{% block ajout %}
    {% if app.request.attributes.get('_route')=='imerir_creation_fournisseur' %}
        <form action="{{ path('imerir_validation_creation_fournisseur') }}" method="post" id="formulaire_creation_fournisseur">
            <table>
            <tr>
                <td><label for="nom">Nom fournisseur </label></td>
                <td><input type="text" name="nom"/></td>
                <input type="submit" value="Ajouter">
            </tr>
            <tr>
                <td><label for="email">Email </label></td>
                <td><input type="text" name="email"/></td>
            </tr>
            <tr>
                <td><label for="telephone_portable">Telephone portable </label></td>
                <td><input type="text" name="telephone_portable"/></td>
            </tr>
            </table>


            {#champs pour l'adresse#}
            <div id="lst_adresse">
                <table class="tableau_adresse">
                    <tr>
                        <th></th>
                        <th class="titre_lst">Pays</th>
                        <th class="titre_lst">Ville</th>
                        <th class="titre_lst">Code postal</th>
                        <th class="titre_lst">N° voie</th>
                        <th class="titre_lst">Voie</th>
                        <th class="titre_lst">N° appartement</th>
                        <th class="titre_lst">Téléphone fixe</th>
                    </tr>
                    {% if detail_adresse.adresse is defined %}
                        {% for i in detail_adresse.adresse %}
                            <tr>
                                <td>
                                    <i class="fa fa-minus-square supprimer"></i>
                                </td>
                                <td>
                                    <input type="text" name="adresse{{ nbAdresse }}" value="{{ i.valeurAdresse }}"/>
                                </td>
                            </tr>
                            {% set nbAdresse = nbAdresse + 1 %}
                        {% endfor %}
                    {% endif %}
                    <tr class="last">
                        <td><i class="fa fa-plus-square ajout ajouter"></i></td>
                        <td><input type="text" name="pays{{ nbAdresse }}"/></td>
                        <td><input type="text" name="ville{{ nbAdresse }}"/></td>
                        <td><input type="text" name="code_postal{{ nbAdresse }}"/></td>
                        <td><input type="text" name="num_voie{{ nbAdresse }}"/></td>
                        <td><input type="text" name="voie{{ nbAdresse }}"/></td>
                        <td><input type="text" name="num_appartement{{ nbAdresse }}"/></td>
                        <td><input type="text" name="telephone_fixe{{ nbAdresse }}"/></td>
                    </tr>
                </table>
            </div>
        </form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_validation_creation_fournisseur' %}
        <form action="{{ path('imerir_validation_creation_fournisseur') }}" method="post" id="formulaire_creation_fournisseur">
            <table>
                <tr>
                    <td><label for="nom">Nom fournisseur </label></td>
                    <td><input type="text" name="nom"/></td>
                    <input type="submit" value="Ajouter">
                </tr>
                <tr>
                    <td><label for="email">Email </label></td>
                    <td><input type="text" name="email"/></td>
                </tr>
                <tr>
                    <td><label for="telephone_portable">Telephone portable </label></td>
                    <td><input type="text" name="telephone_portable"/></td>
                </tr>
            </table>

            <div id="lst_adresse">
                <table class="tableau_adresse">
                    <tr>
                        <th></th>
                        <th class="titre_lst">Pays</th>
                        <th class="titre_lst">Ville</th>
                        <th class="titre_lst">Code postal</th>
                        <th class="titre_lst">N° voie</th>
                        <th class="titre_lst">Voie</th>
                        <th class="titre_lst">N° appartement</th>
                        <th class="titre_lst">Téléphone fixe</th>
                    </tr>
                    {% if detail_adresse.adresse is defined %}
                        {% for i in detail_adresse.adresse %}
                            <tr>
                                <td>
                                    <i class="fa fa-minus-square supprimer"></i>
                                </td>
                                <td>
                                    <input type="text" name="adresse{{ nbAdresse }}" value="{{ i.valeurAdresse }}"/>
                                </td>
                            </tr>
                            {% set nbAdresse = nbAdresse + 1 %}
                        {% endfor %}
                    {% endif %}
                    <tr class="last">
                        <td><i class="fa fa-plus-square ajout ajouter"></i></td>
                        <td><input type="text" name="pays{{ nbAdresse }}"/></td>
                        <td><input type="text" name="ville{{ nbAdresse }}"/></td>
                        <td><input type="text" name="code_postal{{ nbAdresse }}"/></td>
                        <td><input type="text" name="num_voie{{ nbAdresse }}"/></td>
                        <td><input type="text" name="voie{{ nbAdresse }}"/></td>
                        <td><input type="text" name="num_appartement{{ nbAdresse }}"/></td>
                        <td><input type="text" name="telephone_fixe{{ nbAdresse }}"/></td>
                    </tr>
                </table>
            </div>
        </form>
        <p class="validation_message">Le fournisseur a bien été ajouté</p>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_modification_fournisseur' %}

        <form action="{{ path('imerir_validation_modification_fournisseur') }}" method="post" id="formulaire_creation_fournisseur">
            <table>
                <tr><td><label for="nom">Nom : </label>
                <input type="hidden" name="old_id" value="{{ modif_id }}">
                <input type="hidden" name="old_nom" value="{{ modif_nom }}"></td>
                <td><input type="text" name="new_nom" value="{{ modif_nom }}"/></td></tr>
                <input type="submit" value="Modifier">
                <tr><td><label for="nom">Email : </label></td>
                <td><input type="text" name="new_email" value="{{ modif_email }}"/></td></tr>
                <tr><td><label for="nom">Téléphone portable : </label></td>
                <td><input type="text" name="new_telephone_portable" value="{{ modif_telephone_portable }}"/></td></tr>

            </table>

            <div id="lst_adresse">
                <table class="tableau_adresse">
                    <tr>
                        <th></th>
                        <th class="titre_lst">Pays</th>
                        <th class="titre_lst">Ville</th>
                        <th class="titre_lst">Code postal</th>
                        <th class="titre_lst">N° voie</th>
                        <th class="titre_lst">Voie</th>
                        <th class="titre_lst">N° appartement</th>
                        <th class="titre_lst">Téléphone fixe</th>
                    </tr>
                    {% if detail_adresse.adresse is defined %}
                        {% for i in detail_adresse.adresse %}
                            <tr>
                                <td>
                                    <i class="fa fa-minus-square supprimer"></i>
                                </td>
                                <td>
                                    <input type="text" name="adresse{{ nbAdresse }}" value="{{ i.valeurAdresse }}"/>
                                </td>
                            </tr>
                            {% set nbAdresse = nbAdresse + 1 %}
                        {% endfor %}
                    {% endif %}
                    {% for i in liste_adresses_fournisseur %}
                        <tr>
                        <td><i class="fa fa-minus-square supprimer"></i>
                            <input type="hidden" name="modif_id_{{ i.id }}" value="{{ i.id }}"/></td>
                        <td><input type="text" name="modif_pays_{{ i.id }}" value="{{ i.pays }}"/></td>
                        <td><input type="text" name="modif_ville_{{ i.id }}" value="{{ i.ville }}"/></td>
                        <td><input type="text" name="modif_code_postal_{{ i.id }}" value="{{ i.code_postal }}"/></td>
                        <td><input type="text" name="modif_num_voie_{{ i.id }}" value="{{ i.num_voie }}"/></td>
                        <td><input type="text" name="modif_voie_{{ i.id }}" value="{{ i.voie }}"/></td>
                        <td><input type="text" name="modif_num_appartement_{{ i.id }}" value="{{ i.num_appartement }}"/></td>
                        <td><input type="text" name="modif_telephone_fixe_{{ i.id }}" value="{{ i.telephone_fixe }}"/></td>
                        </tr>
                    {% endfor %}
                    <tr class="last">
                        <td><i class="fa fa-plus-square ajout ajouter"></i></td>
                        <td><input type="text" name="pays{{ nbAdresse }}"/></td>
                        <td><input type="text" name="ville{{ nbAdresse }}"/></td>
                        <td><input type="text" name="code_postal{{ nbAdresse }}"/></td>
                        <td><input type="text" name="num_voie{{ nbAdresse }}"/></td>
                        <td><input type="text" name="voie{{ nbAdresse }}"/></td>
                        <td><input type="text" name="num_appartement{{ nbAdresse }}"/></td>
                        <td><input type="text" name="telephone_fixe{{ nbAdresse }}"/></td>
                    </tr>
                </table>
            </div>
        </form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_validation_modification_fournisseur' %}
        <form action="{{ path('imerir_modification_fournisseur') }}" method="post" id="formulaire_creation_fournisseur">
            <table>
                <tr>
                    <td><label for="nom">Nom fournisseur </label></td>
                    <td><input type="text" name="nom"/></td>
                    <input type="submit" value="Ajouter">
                </tr>
                <tr>
                    <td><label for="email">Email </label></td>
                    <td><input type="text" name="email"/></td>
                </tr>
                <tr>
                    <td><label for="telephone_portable">Telephone portable </label></td>
                    <td><input type="text" name="telephone_portable"/></td>
                </tr>
            </table>

            <div id="lst_adresse">
                <table class="tableau_adresse">
                    <tr>
                        <th></th>
                        <th class="titre_lst">Pays</th>
                        <th class="titre_lst">Ville</th>
                        <th class="titre_lst">Code postal</th>
                        <th class="titre_lst">N° voie</th>
                        <th class="titre_lst">Voie</th>
                        <th class="titre_lst">N° appartement</th>
                        <th class="titre_lst">Téléphone fixe</th>
                    </tr>
                    {% if detail_adresse.adresse is defined %}
                        {% for i in detail_adresse.adresse %}
                            <tr>
                                <td>
                                    <i class="fa fa-minus-square supprimer"></i>
                                </td>
                                <td>
                                    <input type="text" name="adresse{{ nbAdresse }}" value="{{ i.valeurAdresse }}"/>
                                </td>
                            </tr>
                            {% set nbAdresse = nbAdresse + 1 %}
                        {% endfor %}
                    {% endif %}
                    <tr class="last">
                        <td><i class="fa fa-plus-square ajout ajouter"></i></td>
                        <td><input type="text" name="pays{{ nbAdresse }}"/></td>
                        <td><input type="text" name="ville{{ nbAdresse }}"/></td>
                        <td><input type="text" name="code_postal{{ nbAdresse }}"/></td>
                        <td><input type="text" name="num_voie{{ nbAdresse }}"/></td>
                        <td><input type="text" name="voie{{ nbAdresse }}"/></td>
                        <td><input type="text" name="num_appartement{{ nbAdresse }}"/></td>
                        <td><input type="text" name="telephone_fixe{{ nbAdresse }}"/></td>
                    </tr>
                </table>
            </div>
        </form>
        <p class="validation_message">Le fournisseur "{{ old_nom }}" a bien été modifié et a pour nom "{{ new_nom }}",
            email "{{ new_email }}" et pour téléphone portable {{ new_telephone_portable }}</p>
    {% endif %}

{% endblock %}

{% block recherche %}
    <form action="{{ path('imerir_creation_fournisseur') }}" method="post">
        <label for="recherche_fournisseur_nom">Nom fournisseur :</label>
        <input type="text" name="recherche_fournisseur_nom">
        <label for="recherche__fournisseur_email">Email fournisseur :</label>
        <input type="text" name="recherche_fournisseur_email">
        <label for="recherche_telephone_portable">Téléphone portable :</label>
        <input type="text" name="recherche_fournisseur_telephone_portable">
        <input type="submit">

    </form>
{% endblock %}

{% block table %}
    <tr class="liste_fournisseurs"><th>Nom fournisseur</th><th>Email</th><th>Telephone portable</th></tr>
    {% for i in liste_fournisseurs %}

        <tr><td>{{ i.nom }}
                <form method="post" action="{{ path('imerir_modification_fournisseur') }}" style="display: none">
                    <input type="hidden" name="id_f" value="{{ i.id }}">
                    <input type="hidden" name="nom_f" value="{{ i.nom }}">
                    <input type="hidden" name="email_f" value="{{ i.email }}">
                    <input type="hidden" name="telephone_portable_f" value="{{ i.telephone_portable }}">
                </form>
            </td>
        <td>{{ i.email }}</td><td>{{ i.telephone_portable }}</td></tr>
    {% endfor %}
{% endblock %}


{% block javascripts %}
<script>
    //variables
    var numAdresse = 200;
    ///
    $('tr').click(function () {
        $(this).children('td').children('form').submit();
    });

    /**
    * Fonction permettant de réagir lors du click sur ajouter un élément.
    * Cette fonction vérfie si un valeur est précisé, et si oui, ajoute
    * un élément.
    */
    $("#lst_adresse").find('.ajouter').click(
            function ajoutItem() {
                var last = $("#lst_adresse").find('tr').last();
                var input = $(last).find('input');
                /*
                if ($(input).val() === "") {
                    input.select();
                }
                */
               // else {
                $("#lst_adresse").children("table").append(
                        '<tr><td><i class="fa fa-plus-square ajout ajouter"></i></td>' +
                        '<td><input type="text" name="pays'+numAdresse+'"/></td>' +
                        '<td><input type="text" name="ville'+numAdresse+'"/></td>' +
                        '<td><input type="text" name="code_postal'+numAdresse+'"/></td>' +
                        '<td><input type="text" name="num_voie'+numAdresse+'"/></td>' +
                        '<td><input type="text" name="voie'+numAdresse+'"/></td>' +
                        '<td><input type="text" name="num_appartement'+numAdresse+'"/></td>' +
                        '<td><input type="text" name="telephone_fixe'+numAdresse+'"/></td>' +
                        '</tr>');

                last.find("i").toggleClass("ajout");
                last.find("i").toggleClass("supprimer");
                last.find("i").toggleClass("fa-plus-square");
                last.find("i").toggleClass("fa-minus-square");
                last.find("i").toggleClass("ajouter");
                last.toggleClass("last");

                $(this).unbind('click');
                $("#lst_adresse").find('.ajouter').click(ajoutItem);
                $("#lst_adresse").find('.supprimer').click(supprimerItem);

                numAdresse++;
                //}
            }
    );
    $('.supprimer').click(supprimerItem); // On bind le click sur le boutton moins avec la fonction de suppression de ligne

    /**
     * Cette fonction permet de supprimer une valeur d'attribut.
     * Elle est appelée lorsque l'on clic sur le boutton moins.
     */
    function supprimerItem() {
        $(this).parent().parent().remove();
    }
</script>
{% endblock %}
