{% extends "::baseAffichage.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/ajoutLigneProduit.css') }}"/>
    <link rel="stylesheet" href="{{ asset('bundles/imerirnoyau/css/cssCaisse.css') }}"/>
{% endblock %}

{% block title_page %}
    Commandes fournisseurs
{% endblock %}

{% block title_ajout %}
    {% if app.request.attributes.get('_route')=='imerir_modification_commande_fournisseur' %}
        Modification
    {% else %}
        Ajout
    {% endif %}
{% endblock %}

{% block fournisseurBlock %}
menuSelected
{% endblock %}

{% block title %}
    ALBA - Commandes fournisseurs
{% endblock %}

{% block aide %}
Cette page vous permet d'ajouter et modifier une commande d'articles à un fournisseur.
<br><br><b>Ajout : </b>
<br>Pour l'ajout, remplissez l'intégralité des champs disponibles.
<br><br>Pour vous aider au choix de l'article, un clique sur la <em>loupe verte</em> vous permettra de rechercher un article efficacement.
<br><br>La <em>quantité souhaitée</em> est indispensable pour valider une réception de commande et visualiser la commande dans l'historique.
<br><br>Un clique sur le bouton <em>plus</em> affiche une ligne de commande supplémentaire (il n'y a pas de limites de lignes de commandes).
<br><br>La <em>date de commande</em> sera mise à la date du jour si aucune donnée n'est saisie.
<br><br><b>Modification :</b><br>
Pour modifier une commande cliquez simplement sur la ligne de la commande correspondante pour accéder à l'intégralité
<br> des lignes de cette dernière.
<br>Pour valider cliquez sur le bouton <em>"Modifier"</em>.
{% endblock %}

{% block ajout %}
	<div id="dialog" style="display: none" title="Selectionnez un article"></div>
	<div id="chargement" style="display: none;">
		<h2><i class="fa fa-pulse fa-spinner"></i>Chargement...</h2>
	</div>
    {% if app.request.attributes.get('_route')=='imerir_creation_commande_fournisseur' %}
        <form action="{{ path('imerir_creation_validation_commande_fournisseur') }}" method="post" id="formulaire_creation_commande_fournisseur">
            <table id="tableau_input">
                <tr>
                    <td>
                        <label for="fournisseur">Fournisseur </label>
                    </td>
                    <td>
                        <select name="fournisseur" style="width: 150px">
                            <option></option>
                            {% for i in liste_fournisseurs %}
                                <option value="{{ i.id }}">{{ i.nom }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="date_commande">Date de la commande </label>
                    </td>
                    <td>
                        <input type="text" name="date_commande" id="datepicker">
                    </td>
                    
                </tr>
            </table>
            <div id="lst_commande">
                <table class="tableau" id="tableau">
                    <th></th>
                    <th>Article</th>
                    <th>Quantité souhaitée</th>
                    <tr>
                        <td>
                            <i class="fa fa-plus-square ajout ajouter"></i>
                        </td>

                        <td>
                            <input type="text" class="commande_input" name="article"/>
                            <label class="fa fa-search recherche rechercher"></label>
                        </td>
                        <td>
                            <input type="number" class="commande_input" name="qty" min="0">
                        </td>
                    </tr>
                </table>
            </div>
			<button type="submit" class="bouton">
                        <i class="fa fa-check"></i>Valider la saisie
             </button>
        </form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_creation_validation_commande_fournisseur' %}
        <form action="{{ path('imerir_creation_validation_commande_fournisseur') }}" method="post" id="formulaire_creation_commande_fournisseur">
            <table id="tableau_input">
                <tr>
                    <td>
                        <label for="fournisseur">Fournisseur </label>
                    </td>
                    <td>
                        <select name="fournisseur" style="width: 150px">
                            <option></option>
                            {% for i in liste_fournisseurs %}
                                <option value="{{ i.id }}">{{ i.nom }}</option>
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>    
                    <td>
                        <label for="date_commande">Date de la commande </label>
                    </td>
                    <td>
                        <input type="text" name="date_commande" id="datepicker">
                    </td>
                </tr>
            </table>
            <div id="lst_commande">
                <table class="tableau" id="tableau">
                    <th></th>
                    <th>Article</th>
                    <th>Quantité souhaitée</th>
                    <tr>
                        <td>
                            <i class="fa fa-plus-square ajout ajouter"></i>
                        </td>

                        <td>
                            <input class="commande_input" type="text" width="80" name="article"/>
                            <label class="fa fa-search recherche rechercher"></label>
                        </td>
                        <td>
                            <input class="commande_input" type="number" name="qty" min="0">
                        </td>
                    </tr>
                </table>
            </div>
                    <button type="submit" class="bouton">
                        <i class="fa fa-check"></i>Valider la saisie
                    </button>
                  
            </form>        
            {% if erreur == '' %}
                <p class="validation_message">La commande a bien été ajoutée</p>
            {% endif %}

    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_modification_commande_fournisseur' %}
        <form action="{{ path('imerir_modification_validation_commande_fournisseur') }}" method="post" id="formulaire_creation_commande_fournisseur">
            <table id="tableau_input">
                <tr>
                    <td>
                        <label for="fournisseur">Fournisseur </label>
                    </td>
                    <td>
                        <select name="fournisseur" style="width: 150px">
                            <option></option>
                            {% for j in liste_lignes_commandes %}
                                {% if loop.last %}
                                    {% for i in liste_fournisseurs %}
                                        {% if j.fournisseur_id == i.id %}
                                            <option value="{{ i.id }}" selected>{{ i.nom }}</option>
                                        {% else %}
                                            <option value="{{ i.id }}">{{ i.nom }}</option>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>    
                    <td>
                        <label for="date_commande">Date de la commande </label>
                    </td>
                    <td>
                        <input type="text" name="date_commande" id="datepicker">
                    </td>
                    
                </tr>
            </table>
            <div id="lst_commande">
                <table class="tableau" id="tableau">
                    <th></th>
                    <th>Article</th>
                    <th>Quantité souhaitée</th>
                    {% for i in liste_lignes_commandes %}
                        <tr>
                            <td><i class="fa fa-minus-square supprimer"></i>
                                <input type="hidden" name="modif_commande_id_{{ i.ligne_commande_id }}" value="{{ i.commande_id }}"/>
                                <input type="hidden" name="modif_ligne_commande_id_{{ i.ligne_commande_id }}" value="{{ i.ligne_commande_id }}"/>
                                <input class="est_visible" type="hidden" name="modif_est_visible_{{ i.ligne_commande_id }}" value="1"/>
                            </td>
                            <td><input class="commande_input" type="text" name="modif_article_{{ i.ligne_commande_id }}" value="{{ i.code_barre }}"/>
                                <label class="fa fa-search recherche rechercher"></label></td>
                            <td><input class="commande_input" type="number" min="0" name="modif_quantite_souhaite_{{ i.ligne_commande_id }}" value="{{ i.quantite_souhaite }}"/></td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td>
                            <i class="fa fa-plus-square ajout ajouter"></i>
                        </td>

                        <td>
                            <input class="commande_input" type="text" width="80" name="article"/>
                            <label class="fa fa-search recherche rechercher"></label>
                        </td>
                        <td>
                            <input class="commande_input" type="number" min="0" name="qty">
                        </td>
                    </tr>
                </table>
            </div>
            <button type="submit" class="bouton">
                        <i class="fa fa-edit"></i>Modifier
            </button>
            </form>
        {% endif %}

        {% if app.request.attributes.get('_route')=='imerir_modification_validation_commande_fournisseur' %}
            <form action="{{ path('imerir_creation_validation_commande_fournisseur') }}" method="post" id="formulaire_creation_commande_fournisseur">
                <table id="tableau_input">
                    <tr>
                        <td>
                            <label for="fournisseur">Fournisseur </label>
                        </td>
                        <td>
                            <select name="fournisseur" style="width: 150px">
                                <option></option>
                                {% for i in liste_fournisseurs %}
                                    <option value="{{ i.id }}">{{ i.nom }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <label for="date_commande">Date de la commande </label>
                        </td>
                        <td>
                            <input type="text" name="date_commande" id="datepicker">
                        </td>
                    </tr>
                </table>
                <div id="lst_commande">
                    <table class="tableau" id="tableau">
                        <th></th>
                        <th>Article</th>
                        <th>Quantité souhaitée</th>
                        <tr>
                            <td>
                                <i class="fa fa-plus-square ajout ajouter"></i>
                            </td>

                            <td>
                                <input class="commande_input" type="text" width="80" name="article"/>
                                <label class="fa fa-search recherche rechercher"></label>
                            </td>
                            <td>
                                <input class="commande_input" type="number" min="0" name="qty">
                            </td>
                        </tr>
                    </table>
                </div>
                <button type="submit" class="bouton">
                            <i class="fa fa-check"></i>Valider la saisie
                </button>
                </form>
                {% if erreur == '' %}
                    <p class="validation_message">La commande n° {{ commande_id }} a bien été modifiée</p>
                {% endif %}
            {% endif %}
{% endblock %}

{% block recherche %}
    <form action="{{ path('imerir_creation_commande_fournisseur') }}" method="get">
        <table>
            <tr>
                <td><label for="recherche_commande_fournisseur_nom_fournisseur">Fournisseur :</label></td>
                <td>
                	<select name="recherche_fournisseur_nom_fournisseur" style="width: 150px">
                		{% for i in liste_fournisseurs %}
                			<option>{{ i.nom }}</option>
                		{% endfor %}
                	</select>
                </td>
                
                <td><label for="recherche_fournisseur_article">Article :</label></td>
                <td><input type="text" name="recherche_fournisseur_article"></td>
            </tr>
            <tr>
                <td> <label for="recherche_commande_fournisseur_id">Référence :</label></td>
                <td> <input type="text" name="recherche_commande_fournisseur_id"></td>
                <td></td><td><button type="submit" class="bouton">
            <i class="fa fa-search"></i>Rechercher
        </button></td>
            </tr>
        </table>
    </form>
{% endblock %}

{% block table %}
    <tr class="liste_fournisseurs"><th>Référence</th><th>Fournisseur</th><th>Date de la commande</th>
        <th>Article</th><th>Quantité souhaitée</th><th>Quantité reçue</th></tr>
    {% for i in liste_commandes %}
		{% if ( numLigne >= (page-1)*ligneParPage ) and ( numLigne < (page-1)*ligneParPage+ligneParPage ) %}
	        <tr><td>{{ i.commande_id }}</td><td>{{ i.fournisseur_nom }}
	                <form method="post" action="{{ path('imerir_modification_commande_fournisseur') }}" style="display: none">
	                    <input type="hidden" name="modif_fournisseur_nom" value="{{ i.fournisseur_nom }}">
	                    <input type="hidden" name="modif_fournisseur_id" value="{{ i.fournisseur_id }}">
	                    <input type="hidden" name="modif_commande_date_commande" value="{{ i.date_commande }}">
	                    <input type="hidden" name="modif_commande_id" value="{{ i.commande_id }}">
	                    <input type="hidden" name="modif_code_barre" value="{{ i.code_barre }}">
	                    <input type="hidden" name="modif_quantite_souhaite" value="{{ i.quantite_souhaite }}">
	                    <input type="hidden" name="modif_quantite_recu" value="{{ i.quantite_recu }}">
	                </form>
	            </td>
	            <td>{{ i.date_commande }}</td>
	        <td>{{ i.code_barre}}</td><td>{{ i.quantite_souhaite }}</td><td>{{ i.quantite_recu }}</td></tr>
        {% endif %}
        {% set numLigne = numLigne + 1 %}
    {% endfor %}
{% endblock %}

{% block numero_page %}
	{% if liste_commandes|length > ligneParPage %}
		{% for i in 0..liste_commandes|length/ligneParPage %}
			{% if i == page-1 %}
				<a class="num_page selected_page" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i+1})) }}">{{ i+1 }}</a>
			{% else %} 
				<a class="num_page" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i+1})) }}">{{ i+1 }}</a>
			{% endif %}
		{% endfor %}  
	{% endif %}
{% endblock %}

{% block javascripts %}
<script>
    //variables
    var numLigneCommande = 200;
    var derniereLigneCliquee = null;
    var dial = $("#dialog");
    ///
    $('tr').click(function () {
        $(this).children('td').children('form').submit();
    });

    /**
     * Permet d'ouvrir une dialog permettant de rechercher un article.
     */
    function choisirArticle() {
    	derniereLigneCliquee = $(this).parent().parent();

    	$("#chargement").show();
    	$("#fieldset_ajout").find("form").hide();
    	
    	dial.load('{{ path('imerir_produit_article') }}', function () {
        	dial.dialog({
                modal: true,
                width: "90%",
            	height: "700",
            	resizable: false,
            	draggable: false,
            	close: function() {
                	$("#chargement").hide();
                	$("#fieldset_ajout").find("form").show();
                }
            });
        	dial.find("#div_menu").remove();
            dial.find("#header").remove();
            dial.find("#title_page").remove();
            dial.find("#fieldset_ajout").remove();
            dial.find("#div_num_page").remove();
            dial.find("#affichage").css("left", "0");
            dial.find("#affichage").css("width", "100%");
            
            $( "#menu" ).children( "li" ).unbind("click");
            dial.find("#div_recherche").find("form").submit(submitRechercheArticle); // Si on fait un recherche on bloque la req et on passe en ajax
            dial.find(".tableau").find("tr").unbind("click");
            dial.find(".tableau").find("tr").click(clickLigneArticle);
    	});
    }

    /**
     * Permet de ne pas envoyer le formulaire directement, mais de 
     * le faire passer en AJAX.
     * Cette fonction est utilisée lorsque l'on fait une recherche d'article
     * depuis la dialog. 
     */
    function submitRechercheArticle (event) {
        event.preventDefault();
        var params = $(this).serialize();

        dial.html('<div id="chargement"><h2><i class="fa fa-pulse fa-spinner"></i>Chargement...</h2></div>');
        dial.load('{{ path('imerir_produit_article') }}', params, function () {
        	dial.find("#div_menu").remove();
            dial.find("#header").remove();
            dial.find("#title_page").remove();
            dial.find("#fieldset_ajout").remove();
            dial.find("#div_num_page").remove();
            dial.find("#affichage").css("left", "0");
            dial.find("#affichage").css("width", "100%");

            dial.find("#chargement").remove();

            $( "#menu" ).children( "li" ).unbind("click");
            dial.find("#div_recherche").find("form").submit(submitRechercheArticle); // Si on fait un recherche on bloque la req et on passe en ajax
            dial.find(".tableau").find("tr").unbind("click");
            dial.find(".tableau").find("tr").click(clickLigneArticle);
        });
        return false;
    }

    function clickLigneArticle() {
        var codebarre = $(this).find('input[name="codeBarre"]').val();

        derniereLigneCliquee.find("input").first().val(codebarre);

        dial.dialog("close");

    	$("#chargement").hide();
    	$("#fieldset_ajout").find("form").show();
        
        return false;
    }
    
	$(".rechercher").click(choisirArticle);
		
    /**
    * Fonction permettant de réagir lors du click sur ajouter un élément.
    * Cette fonction vérfie si un valeur est précisé, et si oui, ajoute
    * un élément.
    */
    $("#lst_commande").find('.ajouter').click(
            function ajoutItem() {
                var last = $("#lst_commande").find('tr').last();
                var input = $(last).find('input');

                $("#lst_commande").children("table").append(
                '<tr><td><i class="fa fa-plus-square ajout ajouter"></i></td>'
                +'<td><input type="text" class="commande_input" name="article'+numLigneCommande+'"/> <label class="fa fa-search recherche rechercher"></label></td>'
                +'<td><input type="number" class="commande_input" min="0" name="qty'+numLigneCommande+'"></td>'
                +'</tr>'
                );

                last.find("i").toggleClass("ajout");
                last.find("i").toggleClass("supprimer");
                last.find("i").toggleClass("fa-plus-square");
                last.find("i").toggleClass("fa-minus-square");
                last.find("i").toggleClass("ajouter");
                last.toggleClass("last");

                $(this).unbind('click');
                $(".rechercher").unbind('click');
                $(".rechercher").click(choisirArticle);
                $("#lst_commande").find('.ajouter').click(ajoutItem);
                $("#lst_commande").find('.supprimer').click(supprimerItem);

                numAdresse++;
            }
    );
    $('.supprimer').click(supprimerItem); // On bind le click sur le boutton moins avec la fonction de suppression de ligne

    /**
     * Cette fonction permet de supprimer une valeur d'attribut.
     * Elle est appelée lorsque l'on clic sur le boutton moins.
     */
    function supprimerItem() {
        var est_visible = $(this).parent().find('.est_visible');
        if(est_visible.length == 0){
            $(this).parent().parent().remove();
        }
        else{
            $(this).parent().parent().hide();
            est_visible.val('0');
        }
    }

    $(function() {

        $( "#datepicker" ).datepicker({
            changeMonth: true,
            changeYear: true,
            changeTime: true
        });
        {% if modif_date_commande is defined %}
            var date = "{{ modif_date_commande }}";
            $("#datepicker").datepicker("setDate",date);
        {% endif %}
    });
    //Permet de gerer la langue du datepicker
    (function( factory ) {
        if ( typeof define === "function" && define.amd ) {

            define([ "../jquery.ui.datepicker" ], factory );
        } else {
            factory( jQuery.datepicker );
        }

    }(function( datepicker ) {
        datepicker.regional['fr'] = {
            closeText: 'Fermer',
            prevText: 'Pr&eacutec&eacutedent',
            nextText: 'Suivant',
            currentText: 'Aujourd\'hui',
            monthNames: ['janvier', 'f&eacutevrier', 'mars', 'avril', 'mai', 'juin',
                'juillet', 'ao&ucirct', 'septembre', 'octobre', 'novembre', 'd&eacutecembre'],
            monthNamesShort: ['janv.', 'févr.', 'mars', 'avril', 'mai', 'juin',
                'juil.', 'ao&ucirct', 'sept.', 'oct.', 'nov.', 'd&eacutec.'],
            dayNames: ['dimanche', 'lundi', 'mardi', 'mercredi', 'jeudi', 'vendredi', 'samedi'],
            dayNamesShort: ['dim.', 'lun.', 'mar.', 'mer.', 'jeu.', 'ven.', 'sam.'],
            dayNamesMin: ['D','L','M','M','J','V','S'],
            weekHeader: 'Sem.',
            dateFormat: 'yy-mm-dd',
            firstDay: 1,
            isRTL: false,
            showMonthAfterYear: false,
            yearSuffix: ''};
        datepicker.setDefaults(datepicker.regional['fr']);

        return datepicker.regional['fr'];

    }));
</script>
{% endblock %}
