{% extends "::baseAffichage.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/imerirproduit/css/ajoutLigneProduit.css') }}"/>
{% endblock %}

{% block title_page %}
    Fournisseurs
{% endblock %}

{% block title_ajout %}
    {% if app.request.attributes.get('_route')=='imerir_modification_fournisseur' %}
        MODIFICATION
    {% else %}
        AJOUT
    {% endif %}
{% endblock %}
{% block ajout %}
    {% if app.request.attributes.get('_route')=='imerir_creation_fournisseur' %}
        <form action="{{ path('imerir_validation_creation_fournisseur') }}" method="post" id="formulaire_creation_fournisseur">
            <table>
            <tr>
                <td><label for="nom">Nom fournisseur </label></td>
                <td><input type="text" name="nom"/></td>
                <input type="submit" value="Ajouter">
            </tr>
            <tr>
                <td><label for="email">Email </label></td>
                <td><input type="text" name="email"/></td>
            </tr>
            <tr>
                <td><label for="telephone_portable">Telephone portable </label></td>
                <td><input type="text" name="telephone_portable"/></td>
            </tr>
            </table>
        </form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_validation_creation_fournisseur' %}
        <form action="{{ path('imerir_validation_creation_fournisseur') }}" method="post" id="formulaire_creation_fournisseur">
            <table>
                <tr>
                    <td><label for="nom">Nom fournisseur </label></td>
                    <td><input type="text" name="nom"/></td>
                    <input type="submit" value="Ajouter">
                </tr>
                <tr>
                    <td><label for="email">Email </label></td>
                    <td><input type="text" name="email"/></td>
                </tr>
                <tr>
                    <td><label for="telephone_portable">Telephone portable </label></td>
                    <td><input type="text" name="telephone_portable"/></td>
                </tr>
            </table>
        </form>
        <p class="validation_message">Le fournisseur a bien été ajouté</p>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_modification_fournisseur' %}

        <form action="{{ path('imerir_validation_modification_fournisseur') }}" method="post" id="formulaire_creation_fournisseur">
            <table>
                <tr><td><label for="nom">Nom : </label>
                <input type="hidden" name="old_id" value="{{ modif_id }}">
                <input type="hidden" name="old_nom" value="{{ modif_nom }}"></td>
                <td><input type="text" name="new_nom" value="{{ modif_nom }}"/></td></tr>
                <input type="submit" value="Modifier">
                <tr><td><label for="nom">Email : </label></td>
                <td><input type="text" name="new_email" value="{{ modif_email }}"/></td></tr>
                <tr><td><label for="nom">Téléphone portable : </label></td>
                <td><input type="text" name="new_telephone_portable" value="{{ modif_telephone_portable }}"/></td></tr>

            </table>
        </form>
    {% endif %}

    {% if app.request.attributes.get('_route')=='imerir_validation_modification_fournisseur' %}
        <form action="{{ path('imerir_modification_fournisseur') }}" method="post" id="formulaire_creation_fournisseur">
            <table>
                <tr>
                    <td><label for="nom">Nom fournisseur </label></td>
                    <td><input type="text" name="nom"/></td>
                    <input type="submit" value="Ajouter">
                </tr>
                <tr>
                    <td><label for="email">Email </label></td>
                    <td><input type="text" name="email"/></td>
                </tr>
                <tr>
                    <td><label for="telephone_portable">Telephone portable </label></td>
                    <td><input type="text" name="telephone_portable"/></td>
                </tr>
            </table>
        </form>
        <p class="validation_message">Le fournisseur "{{ old_nom }}" a bien été modifié et a pour nom "{{ new_nom }}",
            email "{{ new_email }}" et pour téléphone portable {{ new_telephone_portable }}</p>
    {% endif %}

{% endblock %}

{% block recherche %}
    <form action="{{ path('imerir_creation_fournisseur') }}" method="post">
        <label for="recherche_fournisseur_nom">Nom fournisseur :</label>
        <input type="text" name="recherche_fournisseur_nom">
        <label for="recherche__fournisseur_email">Email fournisseur :</label>
        <input type="text" name="recherche_fournisseur_email">
        <label for="recherche_telephone_portable">Téléphone portable :</label>
        <input type="text" name="recherche_fournisseur_telephone_portable">
        <input type="submit">

    </form>
{% endblock %}

{% block table %}
    <tr class="liste_fournisseurs"><th>Nom fournisseur</th><th>Email</th><th>Telephone portable</th></tr>
    {% for i in liste_fournisseurs %}

        <tr><td>{{ i.nom }}
                <form method="post" action="{{ path('imerir_modification_fournisseur') }}" style="display: none">
                    <input type="hidden" name="id_f" value="{{ i.id }}">
                    <input type="hidden" name="nom_f" value="{{ i.nom }}">
                    <input type="hidden" name="email_f" value="{{ i.email }}">
                    <input type="hidden" name="telephone_portable_f" value="{{ i.telephone_portable }}">
                </form>
            </td>
        <td>{{ i.email }}</td><td>{{ i.telephone_portable }}</td></tr>
    {% endfor %}
{% endblock %}


{% block javascripts %}
<script>
    $('tr').click(function () {
        $(this).children('td').children('form').submit();
    });
</script>
{% endblock %}
