<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('../vendor/components/font-awesome/css/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('../vendor/components/jqueryui/themes/flick/jquery-ui.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/imerirnoyau/css/cssDefault.css') }}"/>
        <link rel="stylesheet" href="{{ asset('bundles/imerirnoyau/css/cssAffichage.css') }}"/>
        
        <script type="text/javascript" src="{{ asset('../vendor/components/jquery/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('../vendor/components/jqueryui/jquery-ui.js') }}"></script>
		{#<script src="/js/jquery-ui-timepicker-addon-0.6.2.js" type="text/javascript"></script>#}
        <script type="text/javascript" src="{{ asset('../vendor/nnnick/chartjs/Chart.js') }}"></script>
        <script>
	         $(function() { // Fonction permettant de réagir au clic sur l'aide
		        var aideCache = true; 
	            $( "#boutonAide" ).click(function() {
		            if(aideCache === true) {
	            		$("#aide").show("slide");
		            }
		            else {
		            	$("#aide").hide("slide");
			        }
		            aideCache = !aideCache;
	            });
	         });
	    </script>
    </head>
    <body>
    	
    	<div id="header">
    		<i id="logo_logiciel" class="fa fa-laptop fa-3x"></i>
    		<h1>ALBA</h1>
    		<div id="identifiant">
    			<i class="fa fa-user" ></i>
	    		<p id="nom_utilisateur">{{ app.security.getToken().getUser() }} - {{ app.security.getToken().getRoles().0.role }}</p>
	    		<a href="{{ path('fos_user_security_logout') }}" <i class="fa fa-sign-out" title="Se déconnecter"></i></a>
    		</div>
    	</div>
    
    	<div id="contenu">
	        <div id="div_menu">
	        	<ul id="menu">
		        	{% for i in result_menu %}
		        		{%  if i.menu == "caisse" %}
		        			<a href="{{ path('imerir_noyau_caisse') }}" title="{{ i.menu }}">
			        			<li id="{{ i.menu }}" class="{% block caisseBlock %}{% endblock %}">
	 						    	<i class="fa fa-calculator"></i>
{# 	 						    	<ul id="1">#}
{# 	 						    		{% for j in i.sous_menu %}#}
{# 	 						    			{% if j != null %}#}
{# 		 						    			<a href="">#}
{# 													<li>{{ j }}</li>#}
{# 												</a>#}
{# 											{% endif %}#}
{# 										{% endfor %}#}
{# 	 						    	</ul>#}
	 						    </li>
 						    </a>
		        		{% endif %}
		        		{%  if i.menu == "client" %}
		        			<li id="{{ i.menu }}" title="{{ i.menu }}" class="{% block clientBlock %}{% endblock %}">
						   		<i class="fa fa-users"></i>
						   		<ul id="2">
 						    		{% for j in i.sous_menu %}
										{% if j == "Informations client" %}
	 						    			<a href="{{ path('imerir_creation_client') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Statistiques" %}
	 						    			<a href="{{ path('imerir_stats_client_sms_mail') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Anniversaires" %}
	 						    			<a href="{{ path('imerir_contact_anniversaires') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
									{% endfor %}
 						    	</ul>
						   	</li>
		        		{% endif %}
{# 		        		{%  if i.menu == "evenement" %}#}
{# 			        		<a href="" title="{{ i.menu }}">#}
{# 			        			<li id="{{ i.menu }}" class="{% block eventBlock %}{% endblock %}">#}
{# 							    	<i class="fa fa-calendar"></i>#}
{# 							    	<ul id="3">#}
{# 	 						    		{% for j in i.sous_menu %}#}
{# 	 						    			{% if j != null %}#}
{# 		 						    			<a href="">#}
{# 													<li>{{ j }}</li>#}
{# 												</a>#}
{# 											{% endif %}#}
{# 										{% endfor %}#}
{# 	 						    	</ul>#}
{# 							    </li>#}
{# 						    </a>#}
{# 		        		{% endif %}#}
		        		{%  if i.menu == "fournisseur" %}
		        			<li id="{{ i.menu }}" title="{{ i.menu }}" class="{% block fournisseurBlock %}{% endblock %}">
							    <i class="fa fa-truck"></i>
							    <ul id="4">
 						    		{% for j in i.sous_menu %}
 						    			{% if j == "Commandes" %}
	 						    			<a href="{{ path('imerir_creation_commande_fournisseur') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Fournisseurs" %}
	 						    			<a href="{{ path('imerir_creation_fournisseur') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Réception" %}
											<a href="{{ path('imerir_reception_article') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Historique des commandes complètes" %}
	 						    			<a href="{{ path('imerir_historique_commande_fournisseur') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
									{% endfor %}
 						    	</ul>
						    </li>
		        		{% endif %}
		        		{%  if i.menu == "produit" %}
		        			<li id="{{ i.menu }}" title="{{ i.menu }}" class="{% block produitBlock %}{% endblock %}">
						    	<i class="fa fa-tags"></i>
						    	<ul id="5">
 						    		{% for j in i.sous_menu %}
 						    			{% if j == "Attributs" %}
	 						    			<a href="{{ path('imerir_produit_modif_attributs') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Inventaire" %}
	 						    			<a href="{{ path('imerir_stock_inventaire') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Lignes produits" %}
	 						    			<a href="{{ path('imerir_produit_creation_ligne_produit') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Produits" %}
	 						    			<a href="{{ path('imerir_produit_creation_produit') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}

										{% if j == "Stock" %}
	 						    			<a href="{{ path('imerir_stock') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Articles" %}
	 						    			<a href="{{ path('imerir_produit_article') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Génération de codes barres" %}
	 						    			<a href="{{ path('imerir_produit_code_barre') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
									{% endfor %}
 						    	</ul>
						    </li>
		        		{% endif %}
		        		{%  if i.menu == "vente" %}
		        			<li id="{{ i.menu }}" title="{{ i.menu }}" class="{% block venteBlock %}{% endblock %}">
{# 						 		<i class="fa fa-credit-card"></i>#}
						 		<i class="fa fa-money"></i>
						 		<ul id="6">
 						    		{% for j in i.sous_menu %}
										{% if j == "Factures" %}
	 						    			<a href="{{ path('imerir_vente_facture') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Moyens de paiement" %}
	 						    			<a href="{{ path('imerir_vente_creation_moyen_paiement') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Retour client" %}
	 						    			<a href="{{ path('imerir_vente_retour_client') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
										{% if j == "Statistiques" %}
	 						    			<a href="{{ path('imerir_vente_stats_mensuelles') }}">
												<li>{{ j }}</li>
											</a>
										{% endif %}
									{% endfor %}
 						    	</ul>
						 	</li>
		        		{% endif %}
					{% endfor %}
				</ul>
			</div>
	        <div id="affichage">
	        	<div id="title_page"><i class="fa fa-question-circle" id="boutonAide"></i> {% block title_page %}{% endblock %}</div>
	        	{% if erreur is defined %}{% if erreur != "" %}<div id="erreur">{{ erreur }}</div>{% endif %}{% endif %}
	        	<div id="aide">
	        		<div id="title_aide">Aide</div>
	        		<p>
	        			{% block aide %}Ceci est une aide...{% endblock %}
	        		</p>
        		</div>
				{% block affichage %}{% endblock %}
    		</div>
    	</div>
    	<script type="text/javascript" src="{{ asset('bundles/imerirnoyau/js/baseJs.js') }}"></script>
		{% block javascripts %}{% endblock %}
    </body>
</html>
