<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('../vendor/components/font-awesome/css/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('../src/Imerir/NoyauBundle/Resources/public/css/cssDefault.css') }}"/>
        <link rel="stylesheet" href="{{ asset('../src/Imerir/NoyauBundle/Resources/public/css/cssAffichage.css') }}"/>
        
        <script src="{{ asset('../vendor/components/jquery/jquery.js') }}"></script>
        <script src="{{ asset('../vendor/components/jqueryui/jquery-ui.js') }}"></script>
    </head>
    <body>
    	
    	<div id="header">
    		<i id="logo_logiciel" class="fa fa-laptop fa-3x"></i>
    		<h1>ALBA</h1>
    		<div id="identifiant">
    			<i class="fa fa-user" ></i>
	    		<p id="nom_utilisateur">{{ app.security.getToken().getUser() }}-{{ app.security.getToken().getRoles().0.role }}</p>
	    		<a href="{{ path('fos_user_security_logout') }}" <i class="fa fa-sign-out"></i></a>
    		</div>
    	</div>
    
    	<div id="contenu">
	        <div id="div_menu">
	        	<ul id="menu">
					{% for i in 'a'..'g' %}
	            		<li id="{{ i }}">
	            			<i class="fa fa-cloud"></i>
	            			<p>{{ i }}</p>
	            		</li>
					{% endfor %}
				</ul>
			</div>
			
			<div id="sousMenu" style="display: none">
				{% block sousMenu %}{% endblock %}
    		</div>
	        
	        <div id="affichage">
				{% block affichage %}{% endblock %}
    		</div>
    	</div>
    	
    	{% block javascripts %}{% endblock %}
    </body>
</html>
