<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('../vendor/components/font-awesome/css/font-awesome.css') }}"/>
        <link rel="stylesheet" href="{{ asset('../src/Imerir/NoyauBundle/Resources/public/css/cssDefault.css') }}"/>
        <link rel="stylesheet" href="{{ asset('../src/Imerir/NoyauBundle/Resources/public/css/cssAffichage.css') }}"/>
        
        <script src="{{ asset('../vendor/components/jquery/jquery.js') }}"></script>
        <script src="{{ asset('../vendor/components/jqueryui/jquery-ui.js') }}"></script>
    </head>
    <body>
    	
    	<div id="header">
    		<i id="logo_logiciel" class="fa fa-laptop fa-3x"></i>
    		<h1>ALBA</h1>
    		<div id="identifiant">
    			<i class="fa fa-user" ></i>
	    		<p id="nom_utilisateur">{{ app.security.getToken().getUser() }}-{{ app.security.getToken().getRoles().0.role }}</p>
	    		<a href="{{ path('fos_user_security_logout') }}" <i class="fa fa-sign-out"></i></a>
    		</div>
    	</div>
    
    	<div id="contenu">
	        <div id="div_menu">
	        	<ul id="menu">
		        	{% for i in result %}
		        		{%  if i.menu == "caisse" %}
		        			<a href="">
			        			<li id="{{ i.menu }}">
	 						    	<i class="fa fa-calculator"></i>
	 						    	<ul id="1">
	 						    		{% for j in i.sous_menu %}
	 						    			{% if j != null %}
		 						    			<a href="">
													<li>{{ j }}</li>
												</a>
											{% endif %}
										{% endfor %}
	 						    	</ul>
	 						    </li>
 						    </a>
		        		{% endif %}
		        		{%  if i.menu == "client" %}
		        			<li id="{{ i.menu }}">
						   		<i class="fa fa-users"></i>
						   		<ul id="2">
 						    		{% for j in i.sous_menu %}
 						    			{% if j != null %}
	 						    			<a href="">
												<li>{{ j }}</li>
											</a>
										{% endif %}
									{% endfor %}
 						    	</ul>
						   	</li>
		        		{% endif %}
		        		{%  if i.menu == "evenement" %}
			        		<a href="">
			        			<li id="{{ i.menu }}">
							    	<i class="fa fa-calendar"></i>
							    	<ul id="3">
	 						    		{% for j in i.sous_menu %}
	 						    			{% if j != null %}
		 						    			<a href="">
													<li>{{ j }}</li>
												</a>
											{% endif %}
										{% endfor %}
	 						    	</ul>
							    </li>
						    </a>
		        		{% endif %}
		        		{%  if i.menu == "fournisseur" %}
		        			<li id="{{ i.menu }}">
							    <i class="fa fa-truck"></i>
							    <ul id="4">
 						    		{% for j in i.sous_menu %}
 						    			{% if j != null %}
	 						    			<a href="">
												<li>{{ j }}</li>
											</a>
										{% endif %}
									{% endfor %}
 						    	</ul>
						    </li>
		        		{% endif %}
		        		{%  if i.menu == "produit" %}
		        			<li id="{{ i.menu }}">
						    	<i class="fa fa-cloud"></i>
						    	<ul id="5">
 						    		{% for j in i.sous_menu %}
 						    			{% if j != null %}
	 						    			<a href="">
												<li>{{ j }}</li>
											</a>
										{% endif %}
									{% endfor %}
 						    	</ul>
						    </li>
		        		{% endif %}
		        		{%  if i.menu == "vente" %}
		        			<li id="{{ i.menu }}">
						 		<i class="fa fa-credit-card"></i>
						 		<ul id="6">
 						    		{% for j in i.sous_menu %}
 						    			{% if j != null %}
	 						    			<a href="">
												<li>{{ j }}</li>
											</a>
										{% endif %}
									{% endfor %}
 						    	</ul>
						 	</li>
		        		{% endif %}
					{% endfor %}
				</ul>
			</div>
			
	        <div id="affichage">
				{% block affichage %}{% endblock %}
    		</div>
    	</div>
    	<script type="text/javascript" src="{{ asset('bundles/imerirnoyau/js/baseJs.js') }}"></script>
		{% block javascripts %}{% endblock %}
    </body>
</html>
