{% extends "::baseAffichage.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/imerirvente/css/cssMoyenPaiement.css') }}"/>
{% endblock %}

{% block title %}
ALBA - Moyens de paiement
{% endblock %}

{% block title_page %}
    Moyens de paiement
{% endblock %}

{% block title_ajout %}
    {% if app.request.attributes.get('_route')=='imerir_vente_creation_moyen_paiement' %}
        Ajouter un moyen de paiement
    {% else %}
        Modifier un moyen de paiement
    {% endif %}
{% endblock %}

{% block venteBlock %}
menuSelected
{% endblock %}

{% block aide %}
<p>
	Ici, vous pouvez ajouter ou modifier un moyen de paiement.<br>
	Les moyens de paiement saisient peuvent être utilisés en caisse.
</p>
{% endblock %}

{% block ajout %}
	<table class="tableau_bouton_en_modification">
		<tr>
	    {% if app.request.attributes.get('_route')=='imerir_vente_creation_moyen_paiement' %}
	        <form action="{{ path('imerir_vente_creation_moyen_paiement') }}" method="post">
                <label>Nom du moyen de paiement : </label>
                <input id="non_recherche" type="text" name="nom" placeholder="Carte bancaire"/>
                <i id="bouton_supprimer_nom" class="fa supprimer fa-minus-square"></i><br>
	            <button class="bouton" ><i class="fa fa-plus"></i> Ajouter</button>
	        </form>
	    {% endif %}
   		</tr>
   		<tr>
	    {% if app.request.attributes.get('_route')=='imerir_vente_afficher_modification_moyen_paiement' %}
	        <form action="{{ path('imerir_vente_modification_moyen_paiement') }}" method="post">
                <label>Nom du moyen de paiement : </label>
                <input type="hidden" name="id_modifier" value="{{ id_selectioner }}">
                <input type="text" name="nom_modifier" value="{{ nom_selectioner }}">
                <br>
	            <button class="bouton" ><i class="fa fa-pencil-square-o"></i> Modifier</button>
	        </form>
	        <form action="{{ path('imerir_vente_creation_moyen_paiement') }}" method="post">
	            <button class="bouton" ><i class="fa fa-reply"></i></i> Annuler</button>
	        </form>
	   		<form action="{{ path('imerir_vente_supprimer_moyen_paiement') }}" method="post">
	   			<input type="hidden" name="id_modifier" value="{{ id_selectioner }}">
                <input type="hidden" name="nom_modifier" value="{{ nom_selectioner }}">
	            <button class="bouton" ><i class="fa fa-trash-o"></i> Supprimer</button>
	        </form>
	    {% endif %}
    	</tr>
    </table>
{% endblock %}

{% block table %}
    <tr>
    	<th>Moyens de paiement</th>
    </tr>
    {% for i in liste_mode_paiement %}
    	{% if ( numLigne >= (page-1)*ligneParPage ) and ( numLigne < (page-1)*ligneParPage+ligneParPage ) %}
	        <tr>
	        	<td>{{ i.paiement_nom }}
	                <form method="post" action="{{ path('imerir_vente_afficher_modification_moyen_paiement') }}" style="display: none">
	                    <input type="hidden" name="id_selected" value="{{ i.paiement_id }}">
	                    <input type="hidden" name="nom_selected" value="{{ i.paiement_nom }}">
	                </form>
	            </td>
	        </tr>
	    {% endif %}
        {% set numLigne = numLigne + 1 %}
    {% endfor %}
{% endblock %}

{% block numero_page %}
	{% if liste_mode_paiement|length > ligneParPage %}
		{% for i in 0..liste_mode_paiement|length/ligneParPage %}
			{% if i == page-1 %}
				<a class="num_page selected_page" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i+1})) }}">{{ i+1 }}</a>
			{% else %} 
				<a class="num_page" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i+1})) }}">{{ i+1 }}</a>
			{% endif %}
		{% endfor %}  
	{% endif %}
{% endblock %}

{% block javascripts %}
<script>
$("#bouton_supprimer_nom").hide();

$('tr').click(function () {
	$(this).children('td').children('form').submit();
});

//Afficher l'icone de suppression
$("#non_recherche").change(function(){
	$("#bouton_supprimer_nom").show();
});

//Permet de gerer l'evenement du bouton de suppresion
$("#bouton_supprimer_nom").click(function(){
	$("#non_recherche").val('');
	$("#bouton_supprimer_nom").hide();
});
</script>
{% endblock %}
