{% extends "::baseAffichage.html.twig" %}

{% block title_page %}Retour client{% endblock %}

{% block title %}ALBA - Retour client{% endblock %}

{% block venteBlock %}menuSelected{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block title_recherche %}Choisir la facture concernée par le retour {% endblock %}

{% block title_ajout %}Effectuer un retour client{% endblock %}

{% block ajout %}
	<div id="dialogRetour" style="display: none;" title="Confirmer le retour client">
		<form method="post" action="{{ path('imerir_vente_valider_retour_client') }}">
			<table class="tableau_input">
				<tr>
					<td>Produit : 
						{% if detail_facture is defined %}
							{% if detail_facture != '' %}
							<input type="hidden" name="idFacture" value="{{ detail_facture.0.numero_facture }}">
							{% endif %}
						{% endif %}
					</td>
					<td id="tdProduit"></td>
				</tr>
				<tr>
					<td>Code barre de l'article : </td>
					<td id="tdCodeBarre"><input type="text" name="codeBarre" value=""></td>
				</tr>
				<tr>
					<td>Promotion appliquée : </td>
					<td id="tdPromo"><input type="text" name="promo" value=""></td>
				</tr>
				<tr>
					<td>Prix unitaire : </td>
					<td id="tdPrix"></td>
				</tr>
				<tr>
					<td>Quantité rendu : </td>
					<td id="tdQuantite">
						<input name="quantite" value="" id="inputQt">
						<i class="fa fa-minus-square moinsQuantite" title="-1 en quantité"></i>
						<i class="fa fa-plus-square plusQuantite" title="+1 en quantité"></i>
					</td>
				</tr>
				<tr>
					<td>Total à rembourser : </td>
					<td id="tdTotal"></td>
				</tr>
				<tr>
					<td>
						<button type="submit" class="bouton">
							<i class="fa fa-check"></i>Confirmer le retour
						</button> 
					</td>
					<td></td>
				</tr>
			</table>
		</form>
	</div>

	{% set montant_total = 0 %}
	{% set prix_de_la_tva = 0 %}
	{% set montant_avec_tva = 0 %}
	{% set tva = 20 %}
	<div id="information">
		<div id="information_facture">
		{% if detail_facture is defined %}
			{% if detail_facture != '' %}
				<label class="en_gras_souligner">Facture n&deg;{{ detail_facture.0.numero_facture }}<br></label>
				<div id="detail_sur_client">
					<label class="en_gras">Le :</label> {{ detail_facture.0.date_facture }}<br>
					<label class="en_gras">Client :</label> {{ detail_facture.0.nom_client }} {{ detail_facture.0.prenom_client }}<br>
					<label class="en_gras">Mode de r&egrave;glement : </label>{{ detail_facture.0.nom_moyen_paiement }}
				</div>
			{% endif %}
		{% endif %}
		</div>
	</div>
	<div id="tableau_facture">
		<p> Choisissez l'article retourné dans le tableau ci-dessous.</p>
		<table id="tableau_detail_facture" class="tableau" >
			<tr>
				<th class="col_article">Produit</th>
				<th class="col_article">Article</th>
				<th>Quantité</th>
				<th>Prix Unitaire</th>
				<th>Réduction</th>
				<th>Montant</th>
			</tr>
		{% if detail_facture is defined %}
			{% if detail_facture != '' %}
				{% for i in detail_facture %}
					<tr>
						<td class="col_article_contenu">
							<input type="hidden" value="{{ i.nom_produit|capitalize }}" name="nomProduit">
							<input type="hidden" value="{{ i.nom_article }}" name="codeBarre">
							<input type="hidden" value="{{ i.nombre_article }}" name="quantite">
							<input type="hidden" value="{{ i.reduction_article }}" name="promo">
							<input type="hidden" value="{{ i.prix_article|number_format(2, '.', '.') }}" name="prixUnitaire">
							<input type="hidden" value="{{ i.reduction_article }}" name="reductionArticle">
							{{ i.nom_produit|capitalize }}
						</td>
						<td class="col_article_contenu">{{ i.nom_article }}</td>
						<td>{{ i.nombre_article }}</td>
						<td>{{ i.prix_article|number_format(2, '.', ',') }} &euro;</td>
						<td>{{ i.reduction_article }}</td>
						<td>{{ i.montant_facture|round(2, 'common')|number_format(2, '.', ',') }} &euro;</td>
						{% set montant_total =  montant_total +  i.montant_facture %}
					</tr>
				{% endfor %}
			{% else %}
			{% endif %}
		{% endif %}
		</table>
	</div>
{% endblock %}

{% block recherche %}
<p>Chercher une facture :</p>
<form action="{{ path('imerir_vente_retour_client') }}" method="POST"> 
	<table class="tableau_input">
		<tr>
			<td>Client : </td>
			<td><input type="text" name="critereClient"></td>
		</tr>
		<tr>
			<td>Ligne produit : </td>
			<td><input type="text" name="nomLigneProduit"></td>
		</tr>
		<tr>
			<td>Produit : </td>
			<td><input type="text" name="nomProduit"></td>
		</tr>
		<tr>
			<td>Date : </td>
			<td>Du : <input type="text" name="dateDebut"></td>
		</tr>
		<tr>
			<td></td>
			<td>Au : <input type="text" name="dateFin"></td>
		</tr>
		<tr>
			<td>
				<button class="bouton" type="submit"><i class="fa fa-search"></i>Rechercher</button>
			</td>
			<td></td>
		</tr>
	</table>
</form>
{% endblock %}

{% block table %}
	<tr>
	   	<th>N&deg;</th>
	   	<th>Date</th>
	   	<th>Client</th>
	   	<th>Montant</th>
	</tr>
	    
	{% for i in result_facture %}
    <tr class="select_ligne">
     	<td>
        	<form method="post" action="{{ path('imerir_vente_retour_client_detail') }}" >
       			<input type="hidden" name="id_facture" value="{{ i.numero }}">
    		</form>
    			{{ i.numero }}
        </td>
       	<td>{{ i.date }}</td>
        <td>{{ i.client }}</td>
        <td>{{ i.montant|round(2, 'common')|number_format(2, '.', ',') }}</td>
	</tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
<script>

/**
 * Quand la page est chargée on enlève le fieldset d'ajout qui ne sert à rien si on a pas le detail de facture.
 */
$(document).ready(function (e) {
	{% if detail_facture is defined %}
		{% if detail_facture != '' %}
			$("#fieldset_ajout").show();
		{% else %}
			$("#fieldset_ajout").hide();
		{% endif %}
	{% else %}
		$("#fieldset_ajout").hide();
	{% endif %}
});

$('.moinsQuantite').click(moinsQuantite); // On bind le clic sur le bouton moins de la quantite avec la fonction
$('.plusQuantite').click(plusQuantite); // On bind le clic sur le bouton plus de la quantite avec la fonction

/**
 * Fonction réagissant lors du clic sur le bouton - à côté de la quantité de produit.
 * Diminue la quantité de 1 en faisait attention de ne pas descendre en dessous de 0.
 */
function moinsQuantite() {
	var input = $(this).parent().find("#inputQt");
	var qt = parseInt(input.val()) - 1;
	if(qt < 0)
		qt = 0;

	input.val(qt);
	calculerPrixTotal();
}

/**
 * FOnction réagissant lors du clic sur le bouton + à côté de la quantité produit.
 * Augmente la quantité produit de 1.
 */
function plusQuantite() {
	var input = $(this).parent().find("#inputQt");
	var qt = parseInt(input.val()) + 1;

	input.val(qt);
	calculerPrixTotal();
}

$(".select_ligne").click(function () {
	$(this).find("form").submit();
});

$("#dialogRetour").find("input").change(function () {
	calculerPrixTotal();
});

$("#tableau_detail_facture").find('tr:not(:first)').click(function () {
	var dial = $("#dialogRetour");
	dial.dialog({
	    modal: true,
	    width: "50%",
		height: "500",
		resizable: false,
		draggable: false
	});

	var nomProduit = $(this).find("input[name='nomProduit']").val();
	var codeBarre = $(this).find("input[name='codeBarre']").val();
	var quantite = $(this).find("input[name='quantite']").val();
	var promo = $(this).find("input[name='promo']").val();
	if (promo === "")
		promo = 0;
	var prixUnitaire = $(this).find("input[name='prixUnitaire']").val();
	var reductionArticle = $(this).find("input[name='reductionArticle']").val();

	$("#tdProduit").html(nomProduit);
	$("#tdCodeBarre").find("input").val(codeBarre);
	$("#tdPromo").find("input").val(promo);
	$("#tdPrix").html(prixUnitaire);
	$("#tdQuantite").find("input").val(quantite);
	calculerPrixTotal();
});

function calculerPrixTotal () {
	var nomProduit = $("#dialogRetour").find("input[name='nomProduit']").val();
	var codeBarre = $("#dialogRetour").find("input[name='codeBarre']").val();
	var quantite = $("#dialogRetour").find("input[name='quantite']").val();
	var promo = $("#dialogRetour").find("input[name='promo']").val();
	var prixUnitaire = $("#dialogRetour").find("#tdPrix").html();
	var reductionArticle = $("#dialogRetour").find("input[name='reductionArticle']").val();

	var prixTot = parseFloat(quantite)*parseFloat(prixUnitaire)-(parseFloat(quantite)*parseFloat(prixUnitaire)*parseFloat(promo)/100);
	$("#tdTotal").html(prixTot+" €");
}

</script>
{% endblock %}

