{% extends "::baseAffichage.html.twig" %}

{% block title_page %}
Statistiques des ventes
{% endblock %}

{% block title %}
ALBA - Statistiques
{% endblock %}

{% block venteBlock %}
menuSelected
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/imerirvente/css/cssStats.css') }}"/> 
{% endblock %}

{% block title_ajout %}Vos statistiques{% endblock %}

{% block aide %}
<p>
	Ici, vous pouvez voir vos statistiques annuelles sur une année N (année courante) et N-1 (année précédente).<br>
	
	Si vous lancez cette page sans choisir de date précise, vous pouvez consulter les chiffres d'affaires mensuelles sur l'année courante, ainsi que l'année N-1.<br>
	Vous pouvez sélectionner une année dans le champ date afin de voir les statistiques sur une année précise.
	
</p>
{% endblock %}

{% block ajout %}
	<p class="choixGraph">
	{# 	Choisissez une option :<br>#}
		<a class="bouton" href="{{ path('imerir_vente_stats_mensuelles') }}">
			<i class="fa fa-area-chart"></i>Ventes Mensuelles
		</a>
		<a class="bouton boutonSelected " href="{{ path('imerir_vente_stats_annuelles') }}">
			<i class="fa fa-area-chart"></i>Ventes Annuelles
		</a>
		<a class="bouton" href="{{ path('imerir_vente_stats_top_vente_mois') }}">
			<i class="fa fa-pie-chart"></i>Produits stars
		</a>
	{# 	<a class="bouton" href="">Mes lignes produits</a>#}
	{# 	<a class="bouton" href="">Vente et caract√©ristiques produits</a>#}
	</p>
	
	<form method="post" action="{{ path('imerir_vente_stats_annuelles') }}">
			<label>Date : </label>
			<input type="text" id="date_de_recherche_vente" name="date" placeholder='2015' maxlength="4" size="10">
			<i id="bouton_supprimer_date" class="fa supprimer fa-minus-square"></i>
			<button class="bouton" ><i class="fa fa-search"></i> Rechercher</button>
	</form>
	
	<p class="choixGraph">
	</p>
	
	<h3>Chiffre d'affaires par mois (en &euro;) : </h3>
	<table>
		<tr>
			<td>
				<div class="legende">
					<ul>
						<li>
							<span style="background-color: rgba(36,187,241,1); display: inline-block; height: 5px; width: 30px;">&nbsp;</span>
							{% for i in annee %}
				                  {{ i }}
				            {% endfor %}
						</li>
						<li>
							<span style="background-color: rgba(150,150,150,1); display: inline-block; height: 5px; width: 30px;">&nbsp;</span>
							{% for i in annee %}
				                  {{ i-1 }}
				            {% endfor %}
						</li>
					</ul>
				</div>
			</td>
			<td>
				<div class="graphiqueConteneur"><canvas id="myChart" width="600" height="400"></canvas></div>
			</td>
		</tr>
	</table>
{% endblock %}

{% block javascripts %}
<link rel="stylesheet" href="{{ asset('../vendor/components/jqueryui/themes/smoothness/jquery-ui.css') }}"/>
<script>
$("#bouton_supprimer_date").hide();
$("#fieldset_recherche").hide();


var data = {
        labels : [
              {% for i in axeX_n_moins_un %}
                  "{{ i }}",
              {% endfor %}
        ],
        datasets : [
        {
        	label: "mois n",
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(36,187,241,1)",
            pointColor: "rgba(36,187,241,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(151,187,205,1)",
            data : [
				{% for j in axeY_n %}
					{{ j }},
				{% endfor %} 
            ]
        },
        {
        	label: "mois n-1",
            fillColor: "rgba(150,150,150,0.2)",
            strokeColor: "rgba(150,150,150,1)",
            pointColor: "rgba(150,150,150,1)",
            pointStrokeColor: "#fff",
            pointHighlightFill: "#fff",
            pointHighlightStroke: "rgba(150,150,150,1)",
            data : [
				{% for a in axeY_n_moins_un %}
					{{ a }},
				{% endfor %} 
            ]
        }
        
      ]
}
    
var options = {
    //Boolean - Whether we should show a stroke on each segment
    segmentShowStroke : true,
    //String - The colour of each segment stroke
    segmentStrokeColor : "#fff",
    //Number - The width of each segment stroke
    segmentStrokeWidth : 2,
    //Number - The percentage of the chart that we cut out of the middle
    percentageInnerCutout : 50, // This is 0 for Pie charts
    //Number - Amount of animation steps
    animationSteps : 100,
    //String - Animation easing effect
    animationEasing : "easeOutBounce",
    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate : true,
    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale : false,
    
};
var ctx = $("#myChart").get(0).getContext("2d");
var graph = new Chart(ctx).Line(data);

$("#date_de_recherche_vente").change(function(){
	$("#bouton_supprimer_date").show();
	$valeur = $("#date_de_recherche_vente").val();
	if($valeur.length < 4){
		$("#date_de_recherche_vente").css("color","red");
	}
	else{
		
	}
});

//Permet de gerer l'evenement du bouton de suppresion  de la date
$("#bouton_supprimer_date").click(function(){
	$("#date_de_recherche_vente" ).val('');
	$("#bouton_supprimer_date").hide();
	$("#date_de_recherche_vente").css("color","black");
});

</script>
{% endblock %}

