{% extends "::baseAffichage.html.twig" %}

{% block title_page %}
Statistiques des ventes
{% endblock %}

{% block title %}
ALBA - Statistiques
{% endblock %}

{% block venteBlock %}
menuSelected
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/imerirvente/css/cssStats.css') }}"/> 
{% endblock %}

{% block title_ajout %}Vos statistiques{% endblock %}

{% block aide %}
<p>
	Ici, vous pouvez consulter vos produits stars, les produits qui vous rapportent le plus d'argent.<br>
	Le classement des produits stars s'effectue sur la marge effectuée sur chaque produit.
	Lors du chargement de la page, vous avez un diagramme qui représente les trois meilleurs produits du mois courant.
	Vous avez la possibilité de consulter les trois meilleurs produits sur les trois derniers mois ou les six derniers mois à l'aide des boutons de recherche.
	
</p>
{% endblock %}

{% block ajout %}
	<p class="choixGraph">
		Choisissez une option :<br>
		<a class="bouton" href="{{ path('imerir_vente_stats_mensuelles') }}">
				<i class="fa fa-area-chart"></i>Ventes Mensuelles
			</a>
			<a class="bouton" href="{{ path('imerir_vente_stats_annuelles') }}">
				<i class="fa fa-area-chart"></i>Ventes Annuelles
			</a>
			<a class="bouton boutonSelected" href="{{ path('imerir_vente_stats_top_vente_mois') }}">
				<i class="fa fa-pie-chart"></i>Produits stars
			</a>
	</p>
	
	<p class="choixGraph">
		<a class="bouton" href="{{ path('imerir_vente_stats_top_vente_mois') }}">Mois courant</a>
		<a class="bouton" href="{{ path('imerir_vente_stats_top_vente_trois_mois') }}">3 derniers mois</a>
		<a class="bouton" href="{{ path('imerir_vente_stats_top_vente_six_mois') }}">6 derniers mois</a>
	</p>
	
	{% if app.request.attributes.get('_route')=='imerir_vente_stats_top_vente_mois' %}
		<h3>Top 3 des produits sur le mois (en &euro;) : </h3>
	{% endif %}
	{% if app.request.attributes.get('_route')=='imerir_vente_stats_top_vente_trois_mois' %}
		<h3>Top 3 des produits sur les trois derniers mois (en &euro;) : </h3>
	{% endif %}
	{% if app.request.attributes.get('_route')=='imerir_vente_stats_top_vente_six_mois' %}
		<h3>Top 3 des produits sur les six derniers mois (en &euro;) : </h3>
	{% endif %}
	
	<table>
		<tr>
			<td>
				<div class="legende">
				Légende : 
				</div>
			</td>
			<td>				
				<div class="graphiqueConteneur"><canvas id="myChart" width="600" height="400"></canvas></div>
			</td>
		</tr>
	</table>
{% endblock %}

{% block javascripts %}
<script>

/**
 * Quand la page est chargée on enlève le fieldset de recherche qui ne sert à rien.
 */
$(document).ready(function (e) {
	$('#fieldset_recherche').remove();
});


var pieData = [ 
               {% set num = 0 %}
               {% for i in stats %}
               {
            	   value : {{ i.montant }},
            	   label : "{{ i.produit }}",
                   labelColor : 'white',
                   labelFontSize : '16',
                   labelBackground : '#FF0000',
                   color: 
                	   {% if num == 0 %} "#878BB6" 
                	   {% elseif num == 1 %} "#4ACAB4"
                	   {% elseif num == 2 %} "#FF8153"
                	   {% else %} "#FFEA88" {% endif %}
               }, 
               {% set num = num+1 %}
               {% endfor %}
           ];
var options = {
    //Boolean - Whether we should show a stroke on each segment
    segmentShowStroke : true,
    //String - The colour of each segment stroke
    segmentStrokeColor : "#fff",
    //Number - The width of each segment stroke
    segmentStrokeWidth : 2,
    //Number - The percentage of the chart that we cut out of the middle
    percentageInnerCutout : 50, // This is 0 for Pie charts
    //Number - Amount of animation steps
    animationSteps : 100,
    //String - Animation easing effect
    animationEasing : "easeOutBounce",
    //Boolean - Whether we animate the rotation of the Doughnut
    animateRotate : true,
    //Boolean - Whether we animate scaling the Doughnut from the centre
    animateScale : false,
    
    legendTemplate : '<ul>'
        +'<% for (var i=0; i<pieData.length; i++) { %>'
          +'<li>'
          +'<span style=\"background-color:<%=pieData[i].color%>; display: inline-block; height: 30px; width: 30px\">&nbsp</span>'
          +'<% if (pieData[i].label) { %><%= pieData[i].label %><% } %>'
        +'</li>'
      +'<% } %>'
    +'</ul>'
};

var ctx = $("#myChart").get(0).getContext("2d");
var donut = new Chart(ctx).Pie(pieData, options);
var legend = donut.generateLegend();
$(".legende").append(legend);

</script>
{% endblock %}

