{% extends "::baseAffichage.html.twig" %}

{% block title_page %}Stock{% endblock %}

{% block title %}ALBA - Stock{% endblock %}

{% block title_ajout %}Stats{% endblock %}

{% block produitBlock %}menuSelected{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/imerirstock/css/stock.css') }}"/> 
{% endblock %}

{% block aide %}
<p>
	Cette page vous permet de voir les quantités que vous avez pour chaque article.<br>
	Vous pouvez faire une recherche pour avoir un article spécifique grâce au formulaire de recherche.
</p>
{% endblock %}

{% block ajout %}
	<label>Visualiser la difference</label>
	<select name="visualisation_par">
		<option></option>
		<option>Annuelle</option>
		<option>Entree - Sortie</option>
	</select>
	<label>Par</label>
	<select name="precision_par">
		<option></option>
		<option>Jour</option>
		<option>Mois</option>
		<option>Annee</option>
	</select>
	<label for="de">De</label>
	<input type="text" id="date_debut_stats" name="de" value="yy-mm-dd">
	<label for="a">a</label>
	<input type="text" id="date_fin_stats" name="a" value="yy-mm-dd">
	<div><canvas id="myChart" width="600" height="200"></canvas></div>
{% endblock %}

{% block recherche %}
    <form action= {{ path('imerir_stock') }} method="get">
    	<table>
	    	<tr>
	    		<td><label>Ligne produit : </label></td>
	    		
		        <td>
		        	<select id="select_ligne_produit" name="nomLigneProduit">
		            	<option></option>
		            	{% for i in result_all_ligne_produit %}
		                	<option>{{ i.nom_ligne_produit }}</option>
		            	{% endfor %}
		        	</select>
		        </td>
	        </tr>
	        <tr>
	        	<td><label>Produit : </label></td>
	        	<td><select id="select_produit" name="nomProduit"></select></td>
	        </tr>
	        <tr>
	        	<td><label>Code barre article : </label></td>
	        	<td><input id="article_recherche" type="text" name="nomArticle" placeholder="4651334009303"></td>
	        </tr>
        </table>
        <button class="bouton" ><i class="fa fa-search"></i> Rechercher</button>
    </form>
{% endblock %}

{% block table %}
    <tr>
    	<th>Ligne produit</th>
    	<th>Référence produit</th>
    	<th>Code barre de l'article</th>
    	<th>Quantité</th>
    </tr>
    {% for i in result_stock %}
    	{% if ( numLigne >= (page-1)*ligneParPage ) and ( numLigne < (page-1)*ligneParPage+ligneParPage ) %}
	     	{% if i.quantite <= 0 %}
	     		<tr class="quantite_inferieur_zero">
		    {% else %}
		      	<tr>
		    {% endif %}
	     		<td>{{ i.ligne_produit }}</td>
	            <td>{{ i.produit }}</td>
	            <td id="article_stats">{{ i.article }}</td>
	            <td>{{ i.quantite }}</td>
	        </tr>
	    {% endif %}
		{% set numLigne = numLigne + 1 %}
    {% endfor %}
{% endblock %}

{% block numero_page %}
	{% if result_stock|length > ligneParPage %}
		{% for i in 0..result_stock|length/ligneParPage %}
			{% if i == page-1 %}
				<a class="num_page selected_page" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i+1})) }}">{{ i+1 }}</a>
			{% else %} 
				<a class="num_page" href="{{ path(app.request.attributes.get('_route'), app.request.query.all|merge({'page': i+1})) }}">{{ i+1 }}</a>
			{% endif %}
		{% endfor %}  
	{% endif %}
{% endblock %}

{% block javascripts %}
<script>
$("#fieldset_ajout").css( "display", "none");
		
	// Gestion des selects en fonction de la ligne produits selectionne
	$( "#select_ligne_produit" ).change(function() {
		$.ajax({
			   url: '{{ path('imerir_ajax_stock_get_produit') }}',
			   data: { nomLigneProduit: $(this).val() },
			   success: function(data) {
				   var objJson = JSON.parse(data); // On parse les datas et on trouve le produit correspondant à l'article dans la liste.
				   $("#select_produit").html('');
				   $("#select_produit").html('<option></option>');
					for(id_produit in objJson){
						 $("#select_produit").html( $("#select_produit").html()+'<option>'+objJson[id_produit]['produit']+'</option>');
					}
				   },
			   type: 'POST'
		});
	});
	
</script>
{% endblock %}