{% extends "::baseAffichage.html.twig" %}

{% block title_page %}
STOCK
{% endblock %}

{% block title %}
ALBA - Stock
{% endblock %}

{% block produitBlock %}
menuSelected
{% endblock %}

{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/imerirstock/css/stock.css') }}"/> 
{% endblock %}

{% block recherche %}
    <form action= {{ path('imerir_stock') }} method="get">
    	<label>Ligne Produit</label>
        <select id="select_ligne_produit" name="nomLigneProduit">
            <option></option>
            {% for i in result_all_ligne_produit %}
                <option>{{ i.nom_ligne_produit }}</option>
            {% endfor %}
        </select>
        <label>Produit</label>
        <select id="select_produit" name="nomProduit"></select>
        <label>Article</label><input type="text" name="nomArticle">
        <input type="submit">
    </form>
{% endblock %}

{% block table %}
    <tr>
    	<th>Nom ligne produit</th>
    	<th>Nom produit</th>
    	<th>Nom article</th>
    	<th>Quantite</th>
    </tr>
    {% for i in result_stock %}
{#     	{% if i.quantite  %}#}
     	<tr id="#quantite_inferieur_zero">
{#      	{% else %}#}
{#      	<tr>#}
{#      	{% endif %}#}
     		<td>{{ i.ligne_produit }}</td>
            <td>{{ i.produit }}</td>
            <td>{{ i.article }}</td>
            <td>{{ i.quantite }}</td>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
<script>
	$( "#select_ligne_produit" ).change(function() {
		$.ajax({
			   url: '{{ path('imerir_ajax_stock_get_produit') }}',
			   data: { nomLigneProduit: $(this).val() },
			   success: function(data) {
				   var objJson = JSON.parse(data); // On parse les datas et on trouve le produit correspondant à l'article dans la liste.
// 					alert(objJson);
				   $("#select_produit").html('');
				   $("#select_produit").html('<option></option>');
					for(id_produit in objJson){
// 						alert(objJson[id_produit]['produit']);
						 $("#select_produit").html( $("#select_produit").html()+'<option>'+objJson[id_produit]['produit']+'</option>');
					}
				   },
			   type: 'POST'
		});
	});

	$(document).ready(function(){
		$("#fieldset_ajout").css( "display", "none");
	});
</script>
{% endblock %}