{% extends "::base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/imerirnoyau/css/cssCaisse.css') }}"/> 
{% endblock %}

{% block title_page %}
Votre caisse
{% endblock %}

{% block title %}
ALBA - Votre caisse
{% endblock %}

{% block caisseBlock %}
menuSelected
{% endblock %}

{% block affichage %}
<div id="dialogSaisiCodeBarre" style="display: none" title="Saisie manuelle">
	<p>Veuillez saisir le code barre recherché.<br>
	<label for="saisie_code_barre">Code barre : </label>
	<input type="text" name="saisie_code_barre" id="saisie_code_barre">
	</p>
	<input type="button" value="Valider la saisie" class="bouton" id="valid_saisie">
</div>

<fieldset id="fieldset_ajout">
	<legend id="titre_fieldset" >Votre caisse</legend>
	{% if erreur is defined %}{% if erreur != "" %}<div id="erreur">{{ erreur }}</div>{% endif %}{% endif %}
	<div id="contenneur_caisse" style="display:none;">
		<div id="divBoutonOption">
			<input type="button" class="bouton saisie_manuelle" value="Faire une saisie manuelle de code barre">
			<input type="button" class="bouton" value="Associer un client à cet achat">
		</div>
		<form action="{{ path('imerir_noyau_caisse_save') }}" method="post">
			<div id="enTete">Client <span id="dateSpan">{{ "now"|date("d/m/Y") }}</span></div>
			<h2>LISTE DES ARTICLES</h2>
			<div id="chargement_caisse" >
				&nbsp;
				<span style="display: none;"><i class="fa fa-pulse fa-spinner"></i>Chargement...</span>
			</div>
			<table id="tableauCaisse" class="tableau">
				<tr>
					<th></th>
					<th>Code article</th>
					<th>Quantité</th>
					<th>Prix unitaire</th>
					<th>Promotion</th>
					<th>Total</th>
				</tr>
				<tr style="display:none">
					<td><i class="fa fa-minus-square supprimer"></i></td>
					<td class="tdCodeBarre">
						<input type="text" name="code_0" class="code_barre">
					</td>
					<td class="tdQuantite">
						<input type="number" name="quantite_0" min="1" value="1" class="quantite">
					</td>
					<td class="tdPrix">
					</td>
					<td class="tdPromo">
						<input type="number" name="promo_0" min="0" max="100" value="0" class="promo">%
					</td>
					<td class="tdTotal">
						0 €
					</td>
				</tr>
			</table>
			<h2>TOTAL À PAYER : <input type="submit" id="btnCaisse" value="Valider la facture"><span id="prixTotal">0.0 €</span></h2>
		</form>
	</div>
	<!-- Message s'affichant uniquement au chargement de la page, dès qu'on scan un item on l'enlève -->
	<div id="message_accueil">
		<div>
			<h2>Scanner un article pour commencer</h2>
			Ou<br>
			<input type="button" value="Faire une saisie manuelle" class="bouton saisie_manuelle">
		</div>
	</div>
</fieldset>
{% endblock %}

{% block javascripts %}
<script>
var tableau = $('#tableauCaisse'); //< Le tableau représentant les éléments scanné à la caisse
var nbCodeBarre = 0; //< Le nombre d'article scanné. Utilisé pour envoyé toutes les données en POST sans qu'elles aient le même nom

/**
 * Permet d'effacer une ligne d'inventaire en cas d'erreur de l'utilisateur.
 * Cette fonction est appéelé lorsque l'on clic sur le bouton moins.
 */
function supprimerLigne () {
	$(this).parent().parent().remove();
	calculerPrixTotal();
	if (tableau.children("tbody").children("tr").length == 2) {
		$("#contenneur_caisse").hide();
		$("#message_accueil").show();
	}
}

$('.supprimer').click(supprimerLigne); // On bind le clic sur bouton - avec la fonction de suppression

/**
 * Fonction permettant de calculer le prix total d'une ligne.
 */
function calculerPrixLigne(ligne) {
	var prix = ligne.children('.tdPrix').html();
	var promo = ligne.children('td').children('.promo').val();
	var quantite = ligne.children('td').children('.quantite').val();

	prixTotal = ((prix - (prix*promo/100))*quantite); // Calcul du prix total

	ligne.children('.tdTotal').html(""+prixTotal.toFixed(2)+" €");
}

/**
 * Fonction permettant de calculer le prix total à partir des prix unitaires, 
 * des promos et de la quantité de chaque produit scanné.
 */
function calculerPrixTotal() {
	var lignes = $(tableau).children("tbody").children("tr");
	var prixTotal = 0;

	lignes.each(function(e) {
		if (e == 0) // Si c'est la première ligne on en tien pas compte (c'est le header du tableau)
			return;

		var prix = $(this).children('.tdPrix').html();
		var promo = $(this).children('td').children('.promo').val();
		var quantite = $(this).children('td').children('.quantite').val();
		var prixLigne = ((prix - (prix*promo/100))*quantite); // Calcul du prix de la ligne

		$(this).children('.tdTotal').html(''+prixLigne.toFixed(2)+" €");

		prixTotal+=prixLigne; // Calcul du prix total
	});

	$("#prixTotal").html(prixTotal.toFixed(2)+" €");
}

/** 
 * Fonction ouvrant une fenetre de saisie manuelle de code barre
 */
$(".saisie_manuelle").click(function () {
	var dial = $("#dialogSaisiCodeBarre");
	dial.dialog({
	    modal: true,
	    width: "50%",
		height: "300",
		resizable: false,
		draggable: false
	});
});

/**
 * Permet de valider la saisie manuelle de code barre.
 * Une fois que le code barre a bien été saisi par l'utilisateur, on met la valeur de ce qui a été saisie 
 * dans l'input où la douchette va normalement écrire, puis on lance la recherche.
 */
$("#valid_saisie").click(function () {
	var input = $("#saisie_code_barre");
	var valeurSaisie = input.val();
	if (valeurSaisie === "") {
		input.focus();
		return;
	}

	var inputCodeBarre = $(".code_barre").last();
	inputCodeBarre.val(valeurSaisie); // On fait comme si on avait fait avec la douchette, on met dans l'input qui va bien

	validerCodeBarre(true); // On dit qu'on a un code barre à lire	

	$("#dialogSaisiCodeBarre").dialog("close");
});

/**
 * Fonction appelé automatique au chargement de la page.
 * Elle permet de vider tout les champs texte qui, sinon, pourrait avoir 
 * des trâces en cas de refresh de la page web.
 */
$(document).ready(function (e) {
	$('input[type="text"]').val('');
});

/**
 * Fonction clef du scan, permet de detecter lorsque l'on presse une touche,
 * la douchette agissant comme un clavier, cette methode est appelé lors d'un 
 * scan de produit.
 */
$(document).keypress(function(e) {
	if ($("#saisie_code_barre").is(":visible") === true) // Si on est sur la dialog on ne prend plus en compte la douchette 
		return true;
	
	// Si l'utilisateur à le curseur sur un champ texte, c'est qu'il veut écrire et ce 
	// n'est plus la douchette qui est maître
	if ($('.prix:focus').length || $('.promo:focus').length || $('.quantite:focus').length) 
		return true;
	
	var input = $(".code_barre").last(); // On récupère l'input dans lequel on va venir écrire le code barre
	var elementfocus = $('input:focus').blur(); // On défocus tout autre input, il ne devrait y avoir que les trois du dessus
	
	$("#inputSubmit").attr("disabled", true); // On grise le boutton submit le temps du traitement

	if (input.val().length == 1) { // Si c'est le premier caractère taper on lance un timeout (pour le temps de lecture d'un code barre)
		setTimeout (validerCodeBarre, 220);
	}

    input.val(input.val()+ String.fromCharCode(e.which));
    return false; // false, pour empecher d'écrire dans un champs si jamais le curseur est tout de même mal placé
});

/**
 * Fonction permettant de valider la lecture d'un code barre.
 * Une fois le code barre lue, elle va chercher toutes les informations concernant l'article,
 * depuis le SOAP. Puis on recalcule tout les montants.
 * @param saisieManuelle Précise s'il s'agit d'une saisie manuelle ou non. Si c'est une
 *                       saisie manuelle on ne tient pas compte de la longueur du code barre.
 */
function validerCodeBarre(saisieManuelle) {
	var existeDeja = false; // Permettra de savoir si on a déjà scané cet article ou non
	var lignes = tableau.children("tbody").children("tr");
	var input = $(".code_barre").last(); // On récupère l'input dans lequel on va venir lire le code barre

	if (saisieManuelle !== true && input.val().length < 10) {
		input.val('');
		return true;
	} 

	nbCodeBarre++;

	var ligneCur = lignes.last(); // On récupère la ligne de tableau sur laquelle on va travailler

	if ($("#contenneur_caisse").is(":visible") == false) { // On cache le message d'accueil
		$("#contenneur_caisse").show();
		$("#message_accueil").hide();
	}
	
	$("#chargement_caisse").children("span").show();

	lignes.each(function (e) { // On regarde dans toutes les lignes pour savoir si l'article à déjà été scanné
		if (e === lignes.length - 1) // si c'est la ligne en cours, aucun interet on arrete la boucle
			return; 

		// Si c'est la même valeur de code barre c'est que l'article à déjà été scanné, on incrémente la quantité
		if ($(this).find(".code_barre").val() == ligneCur.find('.code_barre').val()) {
			existeDeja = true;
			var qt = parseInt($(this).children('td').children(".quantite").val())+1;
			$(this).children('td').children(".quantite").val(""+qt);
			ligneCur.find(".code_barre").val('');
			calculerPrixTotal(); // On recalcul le prix total, narmol
			calculerPrixLigne(ligneCur);
			$("#chargement_caisse").children("span").hide();
		}
	});
	
	if (existeDeja === false) { // Si on a pas trouvé d'article correspondant, il faut l'ajouter
		var ligne = ligneCur.clone(); // On prépare le clone de la ligne pour l'ajouter au tableau
		var cellule = ligne.children('td');
		cellule.children(".selectProduit").attr('name', 'produit_'+nbCodeBarre);
		cellule.children(".quantite").attr('name', 'quantite_'+nbCodeBarre);
		cellule.children(".promo").attr('name', 'promo_'+nbCodeBarre);
		cellule.find(".code_barre").attr('name', 'code_'+nbCodeBarre);
		ligne.find(".code_barre").val(''); // C'est un nouveau produit, plus de code barre

		ligne.hide(); // On le cache, ça sera la prochaine ligne qui sera afficher au prochain scan
		ligneCur.show(); // On affiche l'article qu'on vient de scanner
		tableau.append(ligne);
	

		$.ajax({
			   url: '{{ path('imerir_noyau_ajax_getPrixFromCodeBarre_caisse') }}',
			   data: {
			      codeBarre: ligneCur.find('.code_barre').val()
			   },
			   success: function(data) {
				   var prix = data.prix;
				   ligneCur.children('.tdPrix').html(prix);
				   calculerPrixTotal(); // On recalcul le prix total, narmol
				   calculerPrixLigne(ligneCur);

				   $("#chargement_caisse").children("span").hide();
			   },
			   type: 'POST'
		});
	}

	$('input').change(calculerPrixTotal);
	$('.supprimer').click(supprimerLigne); // On bind le clic sur bouton - avec la fonction de suppression
}
</script>
{% endblock %}